[2017-01-11 10:39] Zuckonit opened #1 "install failed"
kibana version: 5.1.1
elasticsearch version: 5.1.1
search-guard-kibana-plugin version: 5.1.1-alpha.zip

[code]

[2017-01-11 19:48] floragunncom commented on #1
how did you install it?

[2017-01-12 06:46] Zuckonit commented on #1
bin/kibana-plugin install  ./search-guard-kibana-plugin-5.1.1-alpha.zip

[2017-01-13 09:41] floragunncom commented on #1
pls. try `bin/kibana-plugin install https://github.com/floragunncom/search-guard-kibana-plugin/releases/download/v5.1.1-alpha/searchguard-kibana-alpha-5.1.1.zip`

[2017-02-01 09:35] rptete commented on #1
searchguard5 with compatibility to ES-5.1.2 and SGadmin10:
wget http://repo1.maven.org/maven2/com/floragunn/search-guard-5/5.1.2-10/search-guard-5-5.1.2-10.zip
/usr/share/elasticsearch/bin/elasticsearch-plugin install file:///root/search-guard-5-5.1.2-10.zip
/usr/share/elasticsearch/bin/elasticsearch-plugin list

searchguard5-kibanaPlugin with compatibility to KI-5.1.2
wget https://github.com/flor

[2017-02-10 07:59] xycloud opened #4 "login forloop in 5.2.0"
i fall into a login forloop when I use this plugin

[2017-02-10 12:03] hbplucifer opened #5 "How to use kibana with search guard bundle 5.x"
Could anyone please suggest how to configure kibana for using with searchguard bundle 5.x

Thanks in advance

[2017-02-10 15:09] #4 closed

[2017-02-10 17:00] floragunncom commented on #5
Please do not ask questions here.
For that refer to https://groups.google.com/forum/#!forum/search-guard

Github is a place **only** for reporting bugs or feature requests.
If you report a bug please include **always** the following informations:

* Search Guard and Elasticsearch version
* JVM version and operating system version
* Number of nodes in your cluster
* Description of the bug

These in

[2017-02-10 17:00] #5 closed

[2017-02-10 17:00] #1 closed

[2017-02-16 16:06] alesnav opened #6 "Visibility of index names in dropdown should be based on access permissions to them"
Hello there!

It would be nice if the dropdown that shows the Elasticsearch indices depended on the user permissions for each one.

For example, if user A have access to the index B, it should be shown in the dropdown. But, if user C lacks access to that index, it should be hidden from the dropdown.

This way, it would be possible to use Search Guard Kibana plugin in a SIEM-as-a-service tool becau

[2017-02-16 16:11] floragunncom commented on #6
That's not easily possible, due to the way Kibana works. Kibana does not have any multi-tenancy capabilities built in, but uses one global user (the one you configure in kibana.yml) to issue those types of queries. That's also why all users share the same dashboards and visualizations. We're working on an Search Guard Kibana module at the moment, which will in a first step provide separation of da

[2017-02-16 18:28] alesnav commented on #6
Thanks @floragunncom .

I will try to be patient :wink:

BTW, do you have any public roadmap?

Best regards!

[2017-02-17 05:12] xycloud commented on #6
cool, i can already see the config item 'multi-tenancy' in search-guard-kibana-plugin

[2017-02-17 11:26] floragunncom commented on #6
Not at the moment, since requirements from customers and users are changing fast. However, we think about setting up a voting tool on our website, so you can submit new feature requests and upvote existing ones.

[2017-02-20 09:00] Khezen opened #7 "release 5.2.1"
Could you release 5.2.1?

[2017-02-20 21:36] floragunncom commented on #7
Version 5.2.1-1 just released: https://github.com/floragunncom/search-guard-kibana-plugin/releases/tag/v5.2.1-1

[2017-02-20 21:36] #7 closed

[2017-02-26 10:21] gubr123 opened #8 "No active session to apply key to"
Hi.

Using ES, kibana, search-guard and search-guard-kibana-plugin - All v5.2.1

Im trying to set new attribute in the session, with:

`request.auth.session.set('lastAccess', currentAccessTime);`

the result is an error:

The request.auth.artifacts is undefined.

Any idea?

[2017-02-28 15:33] senty opened #9 "Session timeout"
Hi guys,

would it be possible to add configuration parameter for timeout (auto logout) ?

thank you very much !

[2017-03-01 19:09] floragunncom commented on #9
We something like this already but its not yet documented. We will revise the docs soon.

[2017-03-01 20:54] senty commented on #9
Thanks for response.
I will looking forward for revised docs !

[2017-03-07 07:45] Khezen opened #10 "5.2.2-x release"
Same as [search-guard](https://github.com/floragunncom/search-guard/issues/307)

[2017-03-10 11:59] floragunncom commented on #10
done, sorry

https://github.com/floragunncom/search-guard-kibana-plugin/releases/tag/v5.2.2-1

[2017-03-10 11:59] #10 closed

[2017-03-10 12:01] Khezen commented on #10
Thank you :)

[2017-03-13 14:03] Passpes opened #11 "search-guard-kibana-plugin 5.2.2 over https not reachable"
I'm using search-guard-kibana-plugin 5.2.2 and its working over HTTP (/)
Before the use of search-guard-kibana-plugin I had HTTPS enabled and working for Kibana, but now when I integrate search-guard-kibana-plugin with HTTPS the host is not reachable at all..

[code]

Logs from kibana:
`{"type":"log","@timestamp":"2017-03-13T13:50:45Z","tags":["connection","client","error"],"pid":17960,"level":"er

[2017-03-13 15:32] #11 closed

[2017-03-19 20:44] jochenkressin opened #12 "Tenant not removed on logout/login"
ES/KI/SG 5.2.2-mt-beta2

Steps to reproduce:
1. Log in to Kibana with a user that has access to "tenant_a"
2. Select "tenant_a"
3. Log out, and log in with another use w/o access to "tenant_a"

Result:
"tenat_a" is still selected, leading to an empty dashboard/visualization view due to security exceptions

Expected:
Global tenant is selected by default on login

Solution:
When performing a login o

[2017-03-19 20:52] jochenkressin opened #13 "List of tenants is not sorted"
ES/KI/SG 5.2.2.-mt-beta2

Steps to reproduce:
Log in multiple times with the same user and go to the "select tenant" page

Result:
The list of configured tenants is displayed in random order.

Expected behavior:
The list of tenants starts with "Global" and "Private", followed by a list of the other defined tenants in natural order.

[2017-03-29 16:23] Khezen opened #14 "support 5.3.0"
feature request: support for 5.3.0

[2017-03-31 06:55] #14 closed

[2017-04-02 16:16] floragunncom opened #15 "Make login screen configurable"
Customers have asked about the possibility to customize the login screen. We agreed on:

* brand image
* title
* subtitle

All elements must be optional and changeable in kibaba.yml

[2017-04-02 16:57] #15 closed

[2017-04-02 17:27] #13 closed

[2017-04-02 17:30] floragunncom commented on #12
already implemented in logout route via reply({}).unstate('searchguard_tenant');

[2017-04-02 17:30] #12 closed

[2017-04-03 14:22] alesnav commented on #6
Hello,

I think that this issue should be closed since you have published the new 5.3.0 version, which includes this enhancement (using tenants).

Thanks!!!

[2017-04-03 14:22] #6 closed

[2017-04-03 18:59] jochenkressin opened #16 "Make login button color configurable"
* At the moment you can customize the login screen
* Brand image, title etc.
* But: Color of login button not customizable
* If we are serious about this, also the button color should be configurable

[2017-04-04 13:54] floragunncom commented on #9
With the upcoming beta-3, you can set:

searchguard.session.ttl: Session time to live in ms
searchguard.session.keepalive: Whether to extend the session lifetime by session.ttl upon each request

See also: https://github.com/floragunncom/search-guard-docs/blob/master/kibana.md

[2017-04-04 13:54] #9 closed

[2017-04-04 13:56] floragunncom commented on #8
Try to set the value in hapi/auth.js#onPostAuth

[2017-04-04 19:28] floragunncom commented on #16
added searchguard.basicauth.login.buttonstyle key

[2017-04-04 19:28] #16 closed

[2017-04-05 10:49] jochenkressin opened #17 "Add sanity checks to plugin"
In order for MT to work, a couple of prerequisites have to be met:

* kibana index name must be configured in KI and ES
* kibana server user must be configured in KI and ES
* sg_tenant header must be whitelisted

Add checks against (new) MT endpoint:

[code]

[2017-04-06 13:07] floragunncom commented on #17
Fixed with beta-3

[2017-04-06 13:07] #17 closed

[2017-04-07 13:44] floragunncom opened #18 "Display user infos on tenant page"
Display user name and sg_roles of the currently authenticated user on the tenant page

[2017-04-10 08:40] alesnav opened #19 "Custom login banner"
Hello,

It would be nice if there was a configurable custom login banner to show under or above the login form.

This is a requirement included in many security recomendations and some organizations have to set it in every app which stores confidential data such as Elasticsearch.

Thanks,
Best regards

[2017-04-10 16:09] alesnav commented on #19
Ups, sorry, it has just been included:

https://github.com/floragunncom/search-guard-docs/blob/master/kibana.md#customising-the-login-page

[2017-04-10 16:09] #19 closed

[2017-04-11 07:23] Zuckonit opened #20 "what permission should I config when below error turns out"
[code]

[2017-04-11 08:02] floragunncom commented on #20
Please do not ask questions here.
For that refer to https://groups.google.com/forum/#!forum/search-guard

Github is a place **only** for reporting bugs or feature requests.
If you report a bug please include **always** the following informations:

* Search Guard and Elasticsearch version
* JVM version and operating system version
* Number of nodes in your cluster
* Description of the bug

These in

[2017-04-11 08:02] #20 closed

[2017-04-16 19:02] floragunncom commented on #8
No feedback, assume solved. If not pls. file a new issue.

[2017-04-16 19:02] #8 closed

[2017-04-18 10:11] floragunncom commented on #18
Released today with v2

[2017-04-18 10:11] #18 closed

[2017-05-02 09:09] becemwniss opened #22 "can't start kibana with custom server basePath"
I set the server basePath in kibana.yml file : "server.basePath: /reporting" and i have used HAProxy to remove the server basePath but when trying to access [http://IP/reporting](http://IP/reporting) this redirect me to [http://IP/reporting/searchguard/login](http://IP/reporting/searchguard/login) (this is the expected behavior) but i see only a blank page.
so i was wondering is there any other co

[2017-05-03 16:10] jochenkressin commented on #22
Which version of

* Elasticsearch
* Kibana
* Search Guard

are you using?

Can you please also post the kibana logfile?

[2017-05-03 16:21] bwniss commented on #22
- Elasticsearch : 5.2.2
- kibana :5.2.2
- Searchguard: 5.2.2-11
logs:
`{"type":"log","@timestamp":"2017-05-03T11:13:21Z","tags":["status","plugin:kibana@5.2.2","info"],"pid":1,"state":"green","message":"Status changed from uninitialized to green - Ready","prevState":"uninitialized","prevMsg":"uninitialized"}
{"type":"log","@timestamp":"2017-05-03T11:13:21Z","tags":["status","plugin:elasticsearch@5

[2017-05-08 21:22] jochenkressin commented on #22
So far we were not able to reproduce your issue. Could you please also provide your HAProxy configuration so we can replicate the problem? Thx!

[2017-05-10 12:31] duramen commented on #22
I have a same problem,I config elasticsearch.url:"xxx.com:80"(nginx proxy es 9200 )  in kibana.yml.

Debug: internal, implementation, error
    Error: Internal Server Error
    at async$ (/root/kibana-5.1.1-linux-x86_64/plugins/searchguard/lib/routes/routes.js:66:43)
    at tryCatch (/root/kibana-5.1.1-linux-x86_64/node_modules/regenerator/runtime.js:61:40)
    at GeneratorFunctionPrototype.invoke

[2017-05-10 12:35] jochenkressin commented on #22
Like I said, we're not able to reproduce the behavior, it works fine with HAProxy in our test environment. If you do not provide more info, especially the HAProxy or nginx configuration, we're not able to help.

[2017-05-10 13:36] duramen commented on #22
nginx config:

            proxy_pass http://es;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }

[2017-05-11 14:41] jochenkressin commented on #22
That's not how base path in Kibana works, it has nothing to do with request forwarding to Elasticsearch.

Base path is for Kibana (not ES) instances running behind a proxy. Basically, Kibana adds the base path to all URLs, and the proxy is supposed to remove it before it hands the request down to Kibana.

https://github.com/elastic/kibana/issues/6665

"Enables you to specify a path to mount Kibana

[2017-05-11 14:47] jochenkressin opened #23 "Merge Proxy Auth in all versions"
We have implemented support for Proxy Auth in the plugin by copying all configured and whitelisted headers to the request.

Merge these changes to the next official (v3) release of the plugin.

Keep in mind:

- If no header is whitelisted, authorisation is the default
- If this header is not present (in case of proxy auth), Kibana takes the kibana server user as default
- thus, the SSO/Proxy auth

[2017-05-11 14:50] jochenkressin opened #24 "Auto-select tenant by request parameter"
Case:

If a user shares an URL to a saved object with another user, and the other user has selected a different tenant than the object resides in, the object cannot be found.

- Add a request param (manually for the moment) like "sg_tenant" to these links
- If the user is not logged in, add this param to the nextUrl (redirect after login)
- For each authenticated request, check if the tenant param

[2017-05-12 07:24] duramen commented on #22
I am not config basePath，I config elasticsearch.url.......

[2017-05-12 07:58] jochenkressin commented on #22
@duramen This issue is about using a basePath with Kibana, as the title says: "can't start kibana with custom server basePath". Please do not hijack issues, and only report bugs here.

If you have problems with Proxy configuration, please ask on out Google Groups:

[2017-05-12 07:59] jochenkressin commented on #22
@becemwniss ping - please compare your HAProxy conf with the one I've posted.

[2017-05-15 18:47] floragunncom commented on #22
No response, cannot reproduce, working HA config provided, will close the issue.

[2017-05-15 18:47] #22 closed

[2017-05-16 02:57] duramen commented on #22
@jochenkressin
I am sorry。
I review the js code and look network request，discover：

so I use `grep -r _searchguard/authinfo *` in kibana directory.

modify

everything is ok.

Thanks.

[2017-06-09 08:15] cooperspencer opened #25 "Can't login on Kibana with Searchguard"
Hi,

When I try to enter kibana I always get:
An error occurred while checking your credentials, make sure your have a running Elasticsearch cluster secured by Search Guard running.

I attached my configfiles. Maybe I forgot something in the config.

[kibana.txt](https://github.com/floragunncom/search-guard-kibana-plugin/files/1063361/kibana.txt)
[elastic.txt](https://github.com/floragunncom/searc

[2017-06-10 19:18] floragunncom opened #26 "Wrong version in Kibana config index/type when mixing versions"
track https://github.com/floragunncom/search-guard-module-kibana-multitenancy/issues/8 here

[2017-06-18 17:30] jochenkressin opened #27 "Add preferred tenant to kibana.yml"
At the moment it's not possible to set a preferred tenant. Which means, the first available tenant in the list is selected.

Proposal is to add an (ordered) list of preferred tenants, which is checked and matched against the available tenants. The first matching tenant of this list is selected.

[2017-06-19 09:52] matejzero opened #28 "No cookie on login (and session timeout because of it)"
After upgrade of ELK stack to 5.4.1, my users started noticing quite fast session timeouts (in a range of a few minutes). It seems like Kibana (searchguard?) doesn't create cookies (at least Web Development console doesn't show them).

I'm using Kibana 5.4.0 and searchguard 5.4.0 plugin.

I will try some older versions of kibana and searchguard plugin and report back.

[2017-06-19 10:37] matejzero commented on #28
After some more debugging, I see that cookie gets returned but it's expiration time is a few seconds to a few minute max.

I tried different values for `searchguard.cookie.ttl`:

searchguard.cookie.ttl | Cookie ttl returned by Kibana
------------ | -------------
60|0s
3600|3-8s
86400|around 1m
1000000|17min

I am under the impression `searchguard.cookie.ttl` is set in seconds, but I guess not:)

[2017-06-19 11:02] matejzero commented on #28
I found the problem, ttl is in ms.

I think this would be worth addind to documentation, so a little pull request here: https://github.com/floragunncom/search-guard-docs/pull/21

[2017-06-19 11:02] #28 closed

[2017-06-19 11:54] jochenkressin commented on #25
The error message you are seeing is displayed when the "authinfo" endpoint, which is provided by SG and used to validate the users credentials, is not accessible.

Are ES and KI running on the same machine? I guess so since your elasticsearch.url is set to

elasticsearch.url: "https://localhost:9200"

What happens when you try to access this endpoint directly?

https://localhost:9200/_searchguard/

[2017-06-19 11:59] cooperspencer commented on #25
I get a json.
But I entered it from my webbrowser. ES and KI are running on an virtual machine without GUI

{"user":"User [name=admin, roles=[]]","user_name":"admin","user_requested_tenant":null,"remote_address":"-------------","sg_roles":["sg_all_access","sg_own_index","sg_public"],"sg_tenants":{"test_tenant_ro":true,"admin":true,"adm_tenant":true},"principal":null,"peer_certificates":"0"}

[2017-06-19 12:06] jochenkressin commented on #25
Strange. Do you see anything in the ES or KI log file?

[2017-06-19 12:10] cooperspencer commented on #25
[2017-06-19T14:09:06,256][WARN ][c.f.s.h.SearchGuardHttpServerTransport] [---------] Someone (/127.0.0.1:60655) speaks http plaintext instead of ssl, will close the channel

I see that in the elasticsearch log.

[2017-06-19 12:11] cooperspencer commented on #25
and that
[2017-06-19T13:58:02,447][INFO ][c.f.s.a.BackendRegistry  ] Cannot authenticate user (or add roles) with ad 4 due to ElasticsearchSecurityException[com.google.common.util.concurrent.UncheckedExecutionException: ElasticsearchSecurityException[kibanaadmin not found]]; nested: UncheckedExecutionException[ElasticsearchSecurityException[kibanaadmin not found]]; nested: ElasticsearchSecurityExc

[2017-06-19 12:24] jochenkressin commented on #25
Something is strange here. This one:

[2017-06-19T14:09:06,256][WARN ][c.f.s.h.SearchGuardHttpServerTransport] [---------] Someone (/127.0.0.1:60655) speaks http plaintext instead of ssl, will close the channel

means that someone, e.g. Kibana or browser, tried to access ES with HTTP instead of HTTPS.

But on your kibana.yml you have

elasticsearch.url: "https://localhost:9200"

So, can you please

[2017-06-19 12:30] vsevolodk opened #29 "twice kibana authentication issue"
Hi.
Please, give more info about [#298](https://github.com/floragunncom/search-guard/issues/298).
@floragunncom wrote this [comment](https://github.com/floragunncom/search-guard/issues/298#issuecomment-308771157).
Could you specify link on the original kibana issue?
Am I right that only the kibana issue pushed your team to write this kibana plugin?
May be better fix it on the kibana side?

[2017-06-19 12:37] cooperspencer commented on #25
Actually I tried it with kibanaserver. I have no idea where the kibanaadmin came from.

[2017-06-19 12:47] cooperspencer commented on #25
Is it ok to send it by email?

[2017-06-19 14:34] jochenkressin commented on #25
sure, you can use info@floragunn.com!

[2017-06-19 14:48] cooperspencer commented on #25
Thanks a lot.

[2017-06-19 16:36] jochenkressin commented on #29
Yes and no. Besides the session management, the plugin also provides multi-tenancy, so it's required to support all features of Search Guard anyways. Patching Kibana is not an option, due to the fact that every Kibana feature is a separate, encapsulated plugin. May I ask what's the background of your question?

[2017-06-20 10:02] vsevolodk commented on #29
Thank you for the answer.
I have my own authentication engine for elastic search, and I have also faced with twice kibana authentication issue.
So, I am searching for its rootcause and I hope that it's a well-known (familiar) issue.
Do you have a link or any information on kibana issue?

[2017-06-20 10:34] jochenkressin commented on #29
It's not an issue or bug, it's just the way Kibana is designed. Each feature, like Dashboard, Timelion or Sense is a separate plugin which may or may not use a dedicated connection to ES. If you open Kibana, the default app is loaded, and depending on your ES backend, a login prompt is displayed. The credentials are reused for this connection. You switch to another app which uses a different conne

[2017-06-20 11:34] vsevolodk commented on #29
@jochenkressin thank you very much.
I found the next [information](https://github.com/elastic/kibana/issues/1464#issuecomment-55716739). Does it work only for one dedicated ES connection?

[2017-06-21 14:46] yasvanth commented on #23
@jochenkressin Could we have a look at example kibana.yml ?

[2017-06-21 15:27] jochenkressin commented on #23
Actually there's nothing to configure. You only need to whitelist the authentication headers in kibana.yml, as described in the docs. There's a proxy section in the docs here: https://github.com/floragunncom/search-guard-docs/blob/master/kibana.md

[2017-06-21 15:27] jochenkressin commented on #23
Fixed with v3 release.

[2017-06-21 15:27] #23 closed

[2017-06-21 15:27] jochenkressin commented on #27
Fixed with v3 release.

[2017-06-21 15:27] #27 closed

[2017-06-21 15:28] jochenkressin commented on #24
Fixed with v3 release.

[2017-06-21 15:28] #24 closed

[2017-06-21 15:45] jochenkressin commented on #29
I think this is more a Kibana than a Search Guard question, so it's better to ask this on the ES/KI forums.

[2017-06-21 15:45] #29 closed

[2017-06-26 13:32] holmbergth opened #30 "old release"
Hi, i'm looking for an  elder release
more specific the 5.0.0-x for the kibana plugin
is there another repo for this release

[2017-06-26 13:37] floragunncom commented on #30
no, SG Kibana Plugin is not available for Kibana 5.0.0 and 5.0.1 (and was never) because of Bugs in Kibana. Pls update to at least Kibana 5.0.2.

[2017-06-26 13:37] #30 closed

[2017-06-26 13:38] holmbergth commented on #30
thank you

[2017-06-27 13:01] jochenkressin opened #31 "Kibana Status Endpoint not reachable"
If the Kibana plugin is enabled, the status endpoint is not reachable anymore.

See: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!topic/search-guard/z7NiBqCRm50

We should check if the can exclude this endpoint from the authentication checks, if it does not call Elasticsearch in return. Need to check that.

[2017-06-27 13:02] jochenkressin opened #32 "Layout problem for long tenant names"
If the tenant names are really long, the name overlaps with the other columns in the table. Please check the corresponding HTML/CSS.

[2017-06-27 13:05] jochenkressin opened #33 "Endless loading when using JWT and multitenancy in some cases"
If multitenancy is enabled and SSO is used (JWT for example), the onPostAuth interceptor in multitenancy/headers.js is called for each authenticated request.

Sometimes these calls do not contain any authentication information, which leads to an exception when backend.authinfo() is called.

Figure out where these calls stem from, check why the onPostAuth interceptor is called at all, and omit the

[2017-06-28 11:46] Widly opened #34 "Timeout on login"
Sometimes when i'm trying to login, kibana freezes and after ~15 sec returns code 500. Then, when i press F5, kibana successfully login.
I suppose, that SG trying to login in Private tenant (that disabled), i.e. trying to create special index and fails at this moment. Note, that username has upper-case symbols, maybe ES fails when trying to create index name with upper-case symbols.

kibana.yml:
s

[2017-06-28 11:54] jochenkressin commented on #34
Might be related or even a duplicate of: https://github.com/floragunncom/search-guard-module-kibana-multitenancy/issues/11

We're fixing the uppercase problem in the next version of the MT module, until then, unfortunately you need to make sure that the tenant names are lowercase only.

[2017-06-28 12:36] Widly commented on #34
With lowercase usernames this problem still appears.

[2017-07-04 08:31] SergeyBondarenko opened #35 "Get logged in username by another plugin"
I develop a Kibana plugin. And I need to know currently logged in username.
Is there a method/property available to get this information?

[2017-07-04 10:09] floragunncom commented on #35
This has been answered on Google Groups already:

https://groups.google.com/forum/#!topic/search-guard/QDFthgZti0U

Please use GitHub Issues for reporting bugs only.

[2017-07-04 10:09] #35 closed

[2017-07-06 08:05] iFedix opened #36 "Custom next url after login"
Hi! I have a problem.. i would like to be able to redirect a user to a custom page based on the user name.
In my case i just want that after i log in with a user named samsungtv, the searchguard login redirects me in a custom kibana view i created (i have the url). What is a smart way to do this? Is there a way to redirect a user based on his user name? Thank you!

[2017-07-06 11:00] jochenkressin commented on #36
Please use GitHub for reporting bugs only, for questions there's the Search Guard Google Groups forum: https://groups.google.com/forum/#!forum/search-guard

As to your question, have a look at public/apps/login_controller.js

In the response handler of the login method you have the username available, and can set a custom next url based on the user's name.

[2017-07-06 11:06] floragunncom commented on #31
Fixed with latest v4 snapshot, will close issue upon official release

[2017-07-06 11:06] floragunncom commented on #25
@cooperspencer does the issue still persist?

[2017-07-07 09:38] iFedix commented on #36
@jochenkressin ok thx! however that is what I tried.. but how to reload that file? I tried to restart nginx service and kibana, cleared sites cache but nothing changed (I tried also to modify the login error message just to see if that will change but nothing happened). Thank you!

[2017-07-07 10:07] jochenkressin commented on #36
Maybe you hit the caching issue described here: https://github.com/floragunncom/search-guard/issues/345

[2017-07-07 10:20] iFedix commented on #36
Yes probably, i have xpack installed too! What is the snapshot version of the kibana search guard plugin to solve also the xpack welcome screen? Should I just upgrade to that version following mat1010 advise with my modifications in login_controller.js? Thank you.

[2017-07-07 10:27] jochenkressin commented on #36
Yes, if you're running 5.4.0 or 5.4.2 then you can just use one of the snapshots referenced in floragunncom/search-guard#345. The official release will take another 2 weeks or so, since we're integrating other features and fixed as well.

[2017-07-07 10:30] iFedix commented on #36
Does it also work with 5.4.1 version? Thank you!

[2017-07-07 10:36] jochenkressin commented on #36
No, Kibana requires the versions to match. But you could try to simply adjust the version number in package.json. At the moment we will not prepare snapshot versions, since we're in the process of merging for the next official release. But give it a try, I think there are no fundamental differences between, say, 5.4.0 and 5.4.1

[2017-07-07 13:33] iFedix commented on #36
@jochenkressin Solved! Removed prior version and adapted 5.4.2 snapshot to work with my 5.4.1. Changed some code in login_controller.js to support an external url and it worked well. Thank you for help!

[2017-07-07 13:37] #36 closed

[2017-07-12 08:18] floragunncom commented on #34
@Widly Which Kibana/ES/MT-modul version?
Do you see this problem also without Search Guard installed?

[2017-07-13 20:16] floragunncom commented on #25
no feedback, assume solved

[2017-07-13 20:16] #25 closed

[2017-07-20 20:58] floragunncom commented on #34
@Widly ping

[2017-07-21 11:24] floragunncom opened #37 "Add support for username/pwd in URL"
See here: https://groups.google.com/d/msgid/search-guard/b9431977-d3f3-40b2-bc0f-9f18241765ba%40googlegroups.com?utm_medium=email&utm_source=footer

[2017-07-21 14:56] Widly commented on #34
I've deleted search guard kibana plugin(5.4.0-3) and now this problem does not apears. Usually this problem appears after some time, i'll also write about problem state tomorrow.

[2017-07-22 17:48] Widly commented on #34
Yes, without plugin this problem does not appears, but after plugin installation it has appeared again.

[2017-07-26 13:58] floragunncom commented on #34
We released a v4 of the multitenancy plugin today. This should fix your timeout problem.

ES 5.4/5.5
http://search.maven.org/remotecontent?filepath=com/floragunn/dlic-search-guard-module-kibana-multitenancy/5.4-4/dlic-search-guard-module-kibana-multitenancy-5.4-4-jar-with-dependencies.jar

ES 5.3
http://search.maven.org/remotecontent?filepath=com/floragunn/dlic-search-guard-module-kibana-multitena

[2017-07-26 14:02] floragunncom commented on #34
Relates https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/search-guard/IRXs-nurIKg/vNoGcr35AAAJ

[2017-07-26 15:11] Widly commented on #34
Thanks, i'll test it and write report a bit later.

[2017-07-26 23:08] romankor opened #38 "Support x-pack monitoring together with search-guard"
I am trying to start kibana together with x-pack plugin and search-guard plugin installed.
Of course i have `xpack.security.enabled: false`

The startup fails :
`Unhandled rejection Error: Plugin hapi-auth-cookie already registered in: http://0.0.0.0:5601`
`log   [23:01:29.404] [fatal] Error: cluster 'security' already exists`

Anyhow can Imake them both work together ? I would like to have the mo

[2017-07-27 20:01] floragunncom commented on #38
You need to disable all x-pack components but monitoring.

elasticsearch.yml/kibana.yml
<pre>
xpack.monitoring.enabled: true
xpack.graph.enabled: false
xpack.ml.enabled: false
xpack.security.enabled: false
xpack.watcher.enabled: false
</pre>

See https://github.com/floragunncom/search-guard-docs/blob/master/monitoring.md for details.

[2017-07-27 20:01] #38 closed

[2017-07-28 11:21] yasvanth commented on #37
Hi Team,
Is there any temporary workaround to pass the username and password in login.html in the location
<pre>
/kibana/plugins/searchguard/public/apps/login
<pre>

Because this machine is not accessible to outside .

Thnaks,
Yash

[2017-07-28 14:47] Widly commented on #34
Thanks! It has fixed main problem with timeout. But SG still trying to login in Private tenant even it's disabled in kibana.yml.
![image](https://user-images.githubusercontent.com/6812404/28722541-c75de27a-73bc-11e7-8763-1bd96ef921b5.png)

[2017-07-28 20:23] zargex opened #39 "Errors at login page show password"
If elasticsearch is down, search-guard page shows a 500 error code but with the following information:

Although that info is very useful, I think the username and password shouldn't show in plain text.

[2017-07-30 10:04] floragunncom commented on #39
Showing the password is of course not intended. We will fix immediately, thanks for reporting!

[2017-08-02 15:26] floragunncom commented on #34
@Widly can you pls file a separate issue for "login in Private tenant even it's disabled in kibana.yml"

[2017-08-03 10:45] floragunncom commented on #37
No, you'd need to patch the plugin. But if you know what you're doing, you can change the title or subtitle on the login page and display a default user/password there:

http://floragunncom.github.io/search-guard-docs/kibana.html

But be aware that nearly 60% of all attacks come from the inside, not the outside. Therefore, we absolutely do not recommend to rely on a machine not being accessible fr

[2017-08-03 12:15] yasvanth commented on #37
Thanks for your valuable suggestion. I have created a casper.js to do auto login ( temporary) . Works as expected. But I wont carry this workaround as long term.
Will wait for next update for the kibana plugin.

Thanks,
Yash

[2017-08-03 13:43] floragunncom commented on #39
Fixed with v4 released today

[2017-08-03 13:43] #39 closed

[2017-08-03 13:43] floragunncom commented on #34
fixed with v4 released today

[2017-08-03 13:43] #34 closed

[2017-08-03 13:45] floragunncom commented on #33
fixed with v4 released today

[2017-08-03 13:45] #33 closed

[2017-08-03 13:45] floragunncom commented on #31
fixed with v4 released today

[2017-08-03 13:45] #31 closed

[2017-08-10 00:57] packetrevolt opened #40 "Add support for Duo 2fa integration"
Would it be possible to add support for Duo 2fa into the Kibana login plugin?
https://duo.com/docs/authapi

[2017-08-10 09:48] floragunncom commented on #40
This is not planned so far but we are glad to accept a PR for that.

[2017-08-18 09:11] Pommes9485 commented on #37
I recently introduced the Kibana Plugin and Searchguard to my system as well and were very frustrated when I discovered, that this feature is missing. Would you be so kind to share your workaround with me?

[2017-08-21 16:00] yasvanth commented on #37
@Pommes9485 The workaround is very simple which I used casper.js(Slimerjs engine) to auto login to basic authentication in kibana . Below link will help you to do basic authentication .
[http://code-epicenter.com/how-to-login-to-amazon-using-casperjs-working-example/](url)

once you logged in you can use your dashboar url to hit after authentication succeeded.

If you are looking for casperjs for

[2017-08-21 19:25] floragunncom commented on #37
Pls. note that all major browsers have stopped supporting the user:pass@host syntax, for obvious security reasons. We also think that supporting it (officially) would open up all kinds of security leaks. The current recommendation is to use (SSO with) JWT. They can be attached as an URL parameter.

[2017-08-21 19:37] Pommes9485 commented on #37
@yasvanth
Thanks for the reply,  to be honest, i didnt think i would get one.
I was about to do something similiar in our application, whilst not knowing, that there is already stuff for that.
It would be great, if you could elaborate a bit more. Where did you put the js File, which will be executed per server request? Or did you save it locally?
It would be perfect, if you could send me your code

[2017-08-23 13:02] ayseyo opened #41 "Disable Kibana Search Guard plugin"
Hi, is there an option to disable search guard kibana plugin as well?

I want to enable/disable SG kibana plugin to investigate performance issues.

I know there is for SG elasticsearch plugin which can be used as :

`searchguard.disabled: true`

I've tried this option at kibana.yml bu I got this error :

FATAL { ValidationError: child "searchguard" fails because ["disabled" is not allowed]
    at

[2017-08-23 13:16] ayseyo commented on #41
I guess this question is more appropriate for search guard community forum, sorry for the inconvenience, I'm closing this.

[2017-08-23 13:16] #41 closed

[2017-08-24 10:22] yasvanth commented on #37
Hi @Pommes9485 ,
Sorry for the late response.  The script (casper js headless browser )authenticates to IDP and receives the cookies which is stored in local system. And loads the Dasboad URL. The Auto login script is located in client side not on kibana side.

Below I have provided the code. If you are using form authentication , the scrip will change.

<pre>
var casper = require('casper').create

[2017-10-03 12:57] sergibondarenko opened #42 "Is there a way to authenticate against the plugin?"
Basic authentication doesn't work.
[code]
I need this for my Kibana plugin which goes to a dashboard, does a screenshot of it and send the image by email.

[2017-10-04 10:36] floragunncom commented on #42
Duplicate of https://github.com/floragunncom/search-guard-kibana-plugin/issues/37

[2017-10-04 10:36] #42 closed

[2017-10-12 15:08] jdeplato commented on #40
Second @packetrevolt  - Need to implement some type of multi-factor auth.

[2017-10-12 15:42] floragunncom commented on #40
Why do you not use SG proxy or JWT authentication and let nginx do the MFA work?

[2017-10-13 13:37] jochenkressin opened #43 "X-Pack monitoring broken in 5.6.3"
The code for the X-Pack monitoring has changed and now loads a shield client regardless whether the Shield plugin is enabled at all or not.

This conflicts with the "security" cluster name in the Search Guard plugin, leading to:

`log   [13:16:52.964] [error][reporting] Error: cluster 'security' already exists`

on startup. Kibana refuses to start, plugins are red.

[2017-10-21 08:28] desp0916 opened #44 ""sg_tenant" header won't be passed to ES nodes by nginx"
While running Elasticsearch and Search Guard behind nginx (as a loadbalancer), this plugin doesn't work properly if private tenant or multitenant is enabled.

After trying and surveying for almost one week, I finally found the root cause: "**sg_tenant**" header won't be passed by nginx because it contains a underscore and is marked as invalid by nginx. Please refer to this [serverfault Q&A](https:

[2017-10-21 11:05] floragunncom commented on #44
Good catch, thx. We will think about a solution for SG6 and update the docs.

[2017-11-27 09:46] yahel2410 commented on #43
Has it been resolved?

[2017-11-27 16:57] floragunncom opened #45 "Can't import dashboard when multitenancy is enabled"
Track https://github.com/floragunncom/search-guard-module-kibana-multitenancy/issues/12

[2017-11-27 21:49] EamonHetherton opened #46 "Search Guard GUI not showing in kibana"
Hi, I have just installed "search-guard-kibana-plugin-6.0.0-6.beta1.zip" and I am not seeing the menu option for SearchGuard in the kibana interface.

I am running kibana version 6.0.0

[code]
It's loading searchguard as I have to log in (and as you can see there is the Logout option). I am logging in as the demo 'admin/admin' account.

is there a setting i need in kibana.yml?

![image](https://us

[2017-11-27 21:54] floragunncom commented on #46
Not in kibana.yml, but you need to configure access to the REST API (which the config GUI uses under the hood) for the logged in user:

In elasticsearch.yml, configure it like:

searchguard.restapi.roles_enabled: ["sg_all_access", ...]

More information: http://docs.search-guard.com/latest/kibana-configuration-search-guard

In short, when you log in, we check whether the current user has access to

[2017-11-27 22:14] EamonHetherton commented on #46
That's done it.  for some reason I only had that setting on one of the three nodes.  I added it to the other two nodes and did a full cluster restart and it's there now.

Thanks for the prompt response.

[2017-11-27 22:14] #46 closed

[2017-11-27 22:22] floragunncom commented on #44
This has been fixed with SG6, the tenant header has been switched to "sgtenant" in both the Kibana plugin and the multi tenancy module. Thanks for reporting this!

[2017-11-27 22:22] #44 closed

[2017-11-28 16:10] RichardLaing opened #47 "build tools"
Hi there I am attempting to setup a build environment for version 5.6.4 what software is required to compile this item from the source code? I am currently running Ubuntu-16.04

[2017-12-03 12:14] floragunncom commented on #47
<pre>
sudo apt-get update
sudo apt-get install nodejs npm zip git
curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.33.6/install.sh | bash
</pre>

Open a new shell an run `./build.sh`

[2017-12-05 14:17] rmcapote opened #48 "Support "View Dashboards Only mode""
Hi,

I am enjoying using Search Guard v.6 (beta). Nice work!
I am wondering if the next version will support the "[Kibana dashboard only mode](https://www.elastic.co/blog/kibana-dashboard-only-mode)" or if it is already supported and I missed how to configure it.

Regards,

[2017-12-08 05:59] mikn opened #49 "Unknown handler async in SG6-beta1 plugin when disabling basicauth"
[code]
As you can see in the error message... Not really sure where to start looking yet. It loads properly if it doesn't connect to Elasticsearch, and it loads if Searchguard is not installed, but it can connect to Elasticsearch.

[2017-12-08 12:10] jochenkressin commented on #49
Which Browser and OS are you using?

[2017-12-08 17:06] mikn commented on #49
This is an error I receive in the console when kibana is starting up, so
this is an error from nodejs... If that helps any.

On Fri, 8 Dec 2017, 20:10 Jochen Kressin, <notifications@github.com> wrote:

[2017-12-09 01:14] mikn commented on #49
So, I was running node 6.10, when I switched to 8.9.2 it seems to be working. Thank you.

[2017-12-09 05:11] mikn commented on #49
Ah, no. Tracking it down, it seems to trigger when I disable basicauth.
[code]
This is still the nodejs logs from starting up the kibana service.

[2017-12-11 16:00] shortsteps opened #50 "5.5.2 : No kibana plugins found in archive"
Hi all,

I have Kibana 5.5.2 installed on Centos7
`kibana.x86_64                        5.5.2-1                        @elasticsearch-5.x`

Downloading the respective zip I have the following error while installing:

[code]

I followed that kind of suggestions found online https://github.com/amannocci/kibana-plugin-metric-percent/issues/2 and https://github.com/bitsensor/elastalert-kibana-plugin/i

[2017-12-11 16:07] shortsteps commented on #50
Sorry, I close the issue.

Using the correct release link https://github.com/floragunncom/search-guard-kibana-plugin/releases/download/v5.5.2-4/searchguard-kibana-5.5.2-4.zip (and not "download zip" or "git clone" from branch 5.5.2) it worked.

Hope it can help someone else!

[2017-12-11 16:07] #50 closed

[2017-12-11 16:13] alesnav opened #51 "Cannot set the default index pattern after update to 5.6.4"
Hello,

After updating ES and Kibana (and SearchGuard plugins, too) up to 5.6.4 from version 5.5.1, the Search Guard Kibana plugin cannot get the default index pattern for each Tenant. That default index pattern was configured before the update and everything worked as expected.

In our test environment, I have 4 Tenants, and none of them let me go to "Discover" menu and I am being redirected to t

[2017-12-11 16:34] shortsteps commented on #43
It seems to happen in Kibana & SG 5.5.2 too.
Any help?

[2017-12-13 09:06] alesnav commented on #51
Well, I have finally deleted the whole .kibana_ID_TENANT index and it was recreated automatically some minutes after that.

The error was reproduced for two of our four tenants after the update, so maybe it is a small bug related to the upgrade process.

Thanks

[2017-12-13 09:57] #26 closed

[2017-12-13 15:23] jochenkressin commented on #47
You might also want to check out this tutorial from Tim Roes regarding building Kibana plugins: https://www.timroes.de/2015/12/02/writing-kibana-4-plugins-basics/

[2017-12-13 15:23] #47 closed

[2017-12-13 15:29] jochenkressin commented on #49
Thanks, will check.

[2017-12-13 16:05] druidushka commented on #43
@shortsteps I confirm.
Kibana 5.5.2 with sg and xpack plugins has the same issue.

[2017-12-13 19:01] jochenkressin commented on #43
Fixed with v5 for Kibana 5.6.x and 6.x

[2017-12-13 19:01] #43 closed

[2017-12-13 19:08] floragunncom commented on #48
this is planned and we are aware of it, thx

[2017-12-13 19:09] floragunncom commented on #32
Fixed with SG6 as far as i know?

[2017-12-13 19:38] jochenkressin commented on #32
Fixed in SG6

[2017-12-13 19:38] #32 closed

[2017-12-13 19:39] jochenkressin commented on #49
Confirmed as a bug

[2017-12-13 19:44] jochenkressin commented on #49
will be fixed in next release

[2017-12-14 03:54] druidushka commented on #43
@jochenkressin
Is there any chance to have the fix for 5.5.x version?

[2017-12-14 23:43] rmcapote commented on #48
Ok ;) Thank you for your reply!

[2017-12-15 01:17] D-ev opened #52 "[Question]ELK 6.0.0 bug in chrome environment (wale, edge, explorer working)] SearchGuard6.0.0-17.beta1 and the default default setting has a hang phenomenon"
**Kibana version**:
6.0.0

**Elasticsearch version**:
6.0.0

**Server OS version**:
CentOS 7.0

**Browser version**:
Chrome 62.0.3202.94

Search Guard 6.0.0-17.beta1 Operation Test
-----
Basic login logic is  working, page pausing occurs on the dashboard.

**1. elasticsearch Search Guard Working**

![image](https://user-images.githubusercontent.com/34558656/34021932-b98f99a0-e17f-11e7-8cd7-1beb78d

[2017-12-15 08:36] alesnav commented on #51
Hmmm, yes, it is still there. Every day, when I login to Kibana the first time, it throws an error showing that there is no default index pattern set. So, every day I have to set it again to be able to work with those Kibana tenants.

Thanks

[2017-12-15 19:07] jochenkressin commented on #52
I cannot reproduce the behavior. I get the 404 for non-existing index patterns and Kibana behaves normally. Is there anything in the Kibana logfiles? Is there anything in the Elasticsearch logfiles?

Also, which user are you using for logging in to Kibana? As far as I understood you just used the default configuration shipped with Search Guard, is this correct?

[2017-12-15 19:13] jochenkressin commented on #51
That's really strange. So just to make sure we understood the problem correctly:

-  You have 4 tenants, all of them have an index pattern set
- These tenants have been created with 5.5.1
- You updated to 5.6.4
- For all tenants you get the document missing exception

Then you deleted all tenant indices manually, and after they have been created, you are able to work with them. But when you log ou

[2017-12-16 15:39] floragunncom opened #53 "Session timeout leads to exception / dead links"
track https://github.com/floragunncom/search-guard/issues/422

[2017-12-18 21:32] jochenkressin commented on #43
@druidushka we will backport the fix to the last supported 5.5.x version which according to our EOL policy is 5.5.3. Will be released this week.

[2017-12-19 05:13] druidushka commented on #43
@jochenkressin
Thanks,
But I fixed the problem, I just checked last commits to the 5.6.x branch and made the same things with 5.5.2. Now Kibana works perfectly with installed searchguard and x-pack plugins.

@shortsteps JFYI

[2017-12-19 08:20] shortsteps commented on #43
@druidushka thanks a lot for the information, I'll try that.
Maybe you can open a pull request to help future search.

[2017-12-20 16:26] yasvanth opened #54 "SG GUI management panel overlapps"
Hi Team,
I am currently testing new SG 6 ( SG GUI) with elastic 6 and kibana 6. When I shrink the borwser I could see that panel overlap with the on the kibana menu as shown in the figure. When I maximize my browser it looks normal.

![screen shot 2017-12-20 at 16 19 43](https://user-images.githubusercontent.com/13409183/34217113-61c0ee32-e5a2-11e7-9a7f-d4821e894007.png)

Thanks,
Yash

[2017-12-20 16:27] jochenkressin commented on #54
Thanks for reporting, we already fixed that and will include the fix in the GA release.

[2017-12-20 16:35] yasvanth commented on #54
Hi @jochenkressin
Thanks for your quick response. When adding user will it be possible to add the user to available roles by clicking on the roles ( dropdown) to add to the users.

Thanks,
Yash
![screen shot 2017-12-20 at 16 31 58](https://user-images.githubusercontent.com/13409183/34217538-a6251c78-e5a3-11e7-92d8-572b7f2c5235.png)

[2017-12-22 19:53] jochenkressin commented on #54
At the moment the GUI reflects the way the configs are structured. For the next releases, we plan to improve and simplify the workflow. So yes, this will likely be added in one of the next releases of the Kibana plugin.

[2017-12-23 19:02] jochenkressin commented on #54
Fixed in 6.1.0-8

[2017-12-23 19:02] #54 closed

[2017-12-23 19:02] jochenkressin commented on #49
Fixed in 6.1.0-8

[2017-12-23 19:02] #49 closed

[2018-01-02 01:48] berglh commented on #49
Glad to find it wasn't just me 😂

[2018-01-04 15:56] Sawadski opened #55 "Login inputfields on error"
**Kibana version:**
6.0.0

**Elasticsearch version:**
6.0.0

**Searchguard version:**
v6.0.0-6.beta1

**OS:**
macOS High Sierra

**Browser version:**
Chromium 54.0.2816.0 (64-bit)

Hi,
when I load the login page, both login fields (Username and Password) are immediately highlighted.
Like in this screenshot:
<img width="1792" alt="pic" src="https://user-images.githubusercontent.com/22395273/3457189

[2018-01-08 11:00] Sawadski opened #56 "Version 6.1.1"
Hi,

I want update my kibana to version 6.1.1.
I saw that [search-guard](https://github.com/floragunncom/search-guard/releases/tag/ves-6.1.1-20.1) released the 6.1.1.
Are there any plans to release this plugin in the upcoming days?

Thank you

[2018-01-08 11:02] floragunncom commented on #56
The Kibana plugin 6.1.1. has been released on 30.12.2017 already:

https://search.maven.org/#search%7Cga%7C1%7Ca%3A%22search-guard-kibana-plugin%22

[2018-01-08 11:02] #56 closed

[2018-01-08 11:19] Sawadski commented on #56
Thank you for the quick response.

I was confused because you have tagged and released the 6.1.0 version on github
and I missed the 6.1.1 version.

[2018-01-17 12:42] piercarlomacca opened #57 "Cannot access Searchguard GUI subsections if kibana serverPath is set"
I have kibana under Apache proxy like that

` ProxyPass /kibana http://localhost:5601
 ProxyPassReverse /kibana http://localhost:5601`

I conveniently put on my kibana.yml
`server.basePath: "/kibana"`

If I try to access to searchguard GUI subsections (role mappings, for example), I get the results in the screenshots.
![kibana-searchguard1](https://user-images.githubusercontent.com/33257506/350431

[2018-01-17 12:43] floragunncom commented on #57
This might indeed be a bug, we'll check. Thanks for reporting!

[2018-01-19 19:26] imran-arshad opened #58 "Metricbeat not able to load dashboards into Kibana"
I have ELK stack deployed on Docker with SearchGuard enabled, and the searchguard-kibana-plugin installed. ElasticSearch has the Searchguard demo roles and users enabled.

I am trying to ship Metricbeat logs to my ELK. I have the following configuration in my metricbeat.yml:
[code]
So I am basically using the demo `admin` user (which has access to all indices. I also tried with the demo `kibanaser

[2018-01-22 03:09] Ronnie08 opened #63 "plugin install failed"
this is the log
  log   [02:40:33.012] [info][optimize] Optimizing and caching bundles for searchguard-multitenancy, searchguard-configuration, kibana, stateSessionStorageRedirect, timelion, searchguard-login and status_page. This may take a few minutes
Killed

after a few minutes，i got an killed error.
es version: 6.0.0
search-guard version ： search-guard-6-6.0.0-17.beta1
kibana version: kibana-6

[2018-01-23 08:26] Ronnie08 commented on #63
yes，without search guard plugin，it works normal

[2018-01-25 14:52] simmonHuong commented on #58
elasticsearch + filebeat + kibana version : 6.1.1 with the same error
```{"statusCode":403,"error":"Forbidden","message":"Error: Unauthorized"}```

I deal with this problem with disable searchguard and use a new instance of kibana and filebeat,import dashboard with success.
Then i can enable searchguard.

[2018-01-25 14:53] floragunncom commented on #58
A fix for this is already in the making

[2018-01-30 10:35] simmonHuong opened #66 "kibana error log "[index_not_found_exception] no such index""
Hello
elasticsearch,filebeat,kibana version:6.1.1
[code]
appears when login in kibana.Even thought with this error I can login in,and query.
There is no index name "_searchguard" but a "searchguard"

[2018-02-01 21:55] floragunncom commented on #58
@jochenkressin Is this related?
https://groups.google.com/d/msgid/search-guard/a20a5d64-168c-4537-86c0-29f21e6b3bcb%40googlegroups.com?utm_medium=email&utm_source=footer

[2018-02-01 22:18] jochenkressin commented on #58
Yes, it's a different effect, but the root cause is the same.

[2018-02-02 20:25] isra17 commented on #66
You have to use the enterprise bundle to enable the searchguard Rest API (And use the GUI administration).

[2018-02-02 21:14] fouts-bnet opened #68 "Can you change the timeout for LDAP logins?"
Hey there,

Can we change the timeout for LDAP logins? We're using Duo Proxy for MFA and it's doing a PUSH request to the user logging in, however unfortunately the timeout only seems to be like 2 seconds. Can we increase that to, say, 30 seconds?

https://duo.com/docs/ldap

If your clients allow you to configure the LDAP timeout, set them to values such that the clients will not give up for at le

[2018-02-02 21:15] fouts-bnet commented on #40
@jdeplato we've completed this using the LDAP Duo Proxy, the downside is the timeout is too short.
https://github.com/floragunncom/search-guard-kibana-plugin/issues/68

[2018-02-02 21:45] jochenkressin commented on #68
At the moment it's not possible to set the timeout via a config key. However, the implementation would be relatively straight-forward, so let me add this to our backlog. Which version of ES/SG are you using?

[2018-02-03 19:25] floragunncom commented on #40
We will fix the timeout issue with the upcoming release

[2018-02-05 20:24] floragunncom commented on #58
@jochenkressin could this also be related?
https://github.com/floragunncom/search-guard-module-kibana-multitenancy/issues/12

[2018-02-05 20:33] jochenkressin commented on #58
Yes, same one.

[2018-02-06 07:00] slima commented on #58
is there any way around?

[2018-02-07 13:54] simmonHuong commented on #66
Thanks so much.I may ignore this then.It bothered me for several days.

[2018-02-07 15:01] jochenkressin commented on #66
I need to reopen this since we can't seem to reproduce.

- which exact version of the Kibana plugin do you use
- which browser do you use?

Thanks!

[2018-02-07 18:49] jochenkressin commented on #68
This has been added to Search Guard 6.x-21 and 5.6.7-19, released today:

http://docs.search-guard.com/latest/active-directory-ldap-connection
http://docs.search-guard.com/latest/changelog-6-x-21

[2018-02-07 18:49] #68 closed

[2018-02-07 19:01] jochenkressin commented on #58
Fixed with v10 of the [Kibana]((https://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22com.floragunn%22%20AND%20a%3A%22search-guard-kibana-plugin%22)) plugin, released today.

[2018-02-07 19:01] #58 closed

[2018-02-07 19:01] jochenkressin commented on #55
Fixed with v10 of the [Kibana](https://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22com.floragunn%22%20AND%20a%3A%22search-guard-kibana-plugin%22) plugin, released today.

[2018-02-07 19:01] #55 closed

[2018-02-07 19:01] jochenkressin commented on #57
Fixed with v10 of the [Kibana](https://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22com.floragunn%22%20AND%20a%3A%22search-guard-kibana-plugin%22) plugin, released today.

[2018-02-07 19:01] #57 closed

[2018-02-07 19:02] jochenkressin commented on #45
Fixed with v10 of the [Kibana](https://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22com.floragunn%22%20AND%20a%3A%22search-guard-kibana-plugin%22) plugin, released today.

[2018-02-07 19:02] #45 closed

[2018-02-07 19:03] jochenkressin commented on #40
Timeout is now configurable in [Search Guard v21](http://docs.search-guard.com/latest/changelog-6-x-21), released today

[2018-02-07 19:03] #40 closed

[2018-02-07 19:55] floragunncom commented on #52
No feedback and not reproducible

[2018-02-07 19:55] #52 closed

[2018-02-11 19:44] jochenkressin commented on #63
The Kibana optimization process takes very long and consumes a lot of resources. I guess something is killing the process in the background due to this. The interesting question is, does that also happen when you install another heavy plugin, like X-Pack for example?

[2018-02-11 19:45] jochenkressin commented on #53
Fixed, wil be released with next version.

[2018-02-11 19:45] jochenkressin commented on #48
We started working on this.

[2018-02-14 00:05] brokenthumbs commented on #66
I am seeing something similar to @simmonHuong. When I start my Kibana service, the logs show me an error that indicate `index_not_found_exception`.

I am using the most recent Kibana plugin, 6.2.1, as specified here: https://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22com.floragunn%22%20AND%20a%3A%22search-guard-kibana-plugin%22

I am using the community edition of Elasticsearch 6.2.1 as well.

[c

[2018-02-14 08:57] jochenkressin commented on #66
While it should not affect Kibana it's not normal to see it in the logs. Which browser and operating system are you using?

[2018-02-14 15:55] brokenthumbs commented on #66
I'm using a Mac OS High Sierra Version 10.13.2, with Google Chrome Version 64.0.3282.167.

But, it seems that it shows up on the first initial login. I tried using Safari and got the same result.

I'm testing this out by locally launching Kibana through a Docker container, and connecting it to my Elasticsearch cluster. So, each time that I restart my Kibana Docker container, and log in using my br

[2018-02-14 15:56] brokenthumbs commented on #66
Noting that I am also connecting using `http://localhost` and not `https://localhost`, if that matters.

[2018-02-14 22:08] jochenkressin commented on #66
Thanks for the info, trying to reproduce it here

[2018-02-16 15:57] Sawadski opened #78 "IE11 problems"
Hi,
regarding #55, I tested searchguard on the `Internet Explorer 11` in `Windows 7` and found 2 bugs.

1. **Highlighting Bug**
     With this pull request #67 this would have been fixed, but on the release there is an additional change in the [login.html](https://github.com/floragunncom/search-guard-kibana-plugin/blob/6.x/public/apps/login/login.html#L17) file.
[code]
     Without this condition

[2018-02-16 17:52] floragunncom commented on #78
Thanks, will look into this.

[2018-02-18 21:17] mgustafsson1 commented on #78
Hi there,

Just a quick update on this one before I submit a PR.
I've tested in `IE11` on `Windows 7`, and I can reproduce both issues.

1. **Highlighting bug**
I added that extra condition to make sure that the form can't be submitted with empty values.
I'll come up with a smarter solution that works in `IE11` too.

2. **Custom stylings**
You are right, `IE11` seems to strip values from the style

[2018-02-26 09:49] floragunncom opened #80 "ace.require is not a function"
Track: https://github.com/floragunncom/search-guard/issues/452

[2018-02-26 19:05] jochenkressin opened #81 "Block system users from logging in to Kibana"
This issue is to track:

https://groups.google.com/forum/#!topic/search-guard/OhM5G2dN26Q

As a first step, we should add a configurable list of system users and/or roles and block login for HTTP Basic based logins. For SSO, we first need to work on the unified SSO request flow and can add it as a second step.

[2018-02-27 02:29] marcosbis commented on #48
Have you got any updates on this feature ?
Thanks

[2018-02-27 09:00] jochenkressin commented on #80
Seems like an Kibana bug: https://discuss.elastic.co/t/6-2-0-starts-with-error/118706

[2018-02-27 09:05] jochenkressin commented on #48
We're working on this currently, should not be long until release.

[2018-02-27 09:43] brano-tichy commented on #80
most probably.
i logged [it here](https://github.com/elastic/kibana/issues/16866)
the problem is caused by "Optimizing and caching browser bundles..." step
when the kibana is installed in certain locations
(```c:\Users\255294\AppData\Local\Temp\_ES``` was ok, ```c:\Users\255294\.bin\ES``` caused fatal error, ```./optimize/bundles/*.bundle.js``` files differed)

[2018-03-05 13:22] floragunncom opened #82 "Disable password autocomplete on login form"
See this forum post: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/search-guard/g3n_Y6zkVt8/frXX7sXhBQAJ

[2018-03-12 05:16] ming2020 commented on #66
I am seeing something similar to @simmonHuong, and my search guard configuration GUI is not show after i upgrade to 6.2.2.

[2018-03-14 02:17] ming2020 opened #84 "Search Guard GUI not show in kibana 6.2.2"
In elasticsearch.yml, i configure searchguard.restapi.roles_enabled: ["sg_all_access"] and in kibana when i access to the REST API it throw index_not_found_exception.
![qq 20180314101512](https://user-images.githubusercontent.com/15954271/37379880-c9e41b14-2770-11e8-95f6-77f953b613b9.png)

[2018-03-14 02:33] ming2020 commented on #84
![image](https://user-images.githubusercontent.com/15954271/37380311-145ae6d0-2773-11e8-9a49-ce18e4be406d.png)
authinfo can access

[2018-03-14 07:49] floragunncom commented on #84
What version of SG do you run, Enterprise or Community?

[2018-03-14 09:36] ming2020 commented on #84
Community version.
![image](https://user-images.githubusercontent.com/15954271/37394190-315208e6-27ae-11e8-9bd8-9da556d63293.png)

[2018-03-14 09:54] floragunncom commented on #84
The REST API is part of the Enterprise Edition and thus not available in the Community version. See the feature comparison table here: https://search-guard.com/product/

[2018-03-14 09:54] #84 closed

[2018-03-14 10:03] ming2020 commented on #84
Thank you very much.I'll pay for it.

[2018-03-15 11:47] ilongin commented on #66
Same here, and I'm also using http instead of https for REST (searchguard.ssl.http.enabled: false)

[2018-03-15 12:02] jochenkressin commented on #66
In order to avoid confusion, there are two issues here:

First, the REST API and the config GUI are Enterprise features, so if you run the Community version it's expected that the GUI does not show.

What's not expected is the "index_not_found_exception" in the Kibana logs. The exception is due to the fact that the REST API endpoints starting with "_searchguard/api/" are not enabled, and Elasticse

[2018-03-15 12:08] ilongin commented on #66
Yes, I just figured out that. When I run enterprise edition there is no error and I can see Search Guard in side bar.

[2018-03-21 07:02] sanky186 commented on #48
By when is the release expected ? Or is it out already ?

[2018-03-21 20:00] floragunncom commented on #48
very likely next week

[2018-03-22 08:47] willouuu commented on #66
Hi,
If GUI and API REST aren't enable in the community edition, please edit https://search-guard.com/wp-content/uploads/2018/03/SG_Licensing-model-overview.pdf, so that we can understand and not spend hours trying to display it...
Thanks

[2018-03-22 09:04] floragunncom commented on #66
@willouuu sorry for your inconvenience, we will update the docs to make this clear

[2018-03-22 11:55] sanacl opened #88 "Allowing anonymous access"
The idea of this feature request is having an anonymous user which by default would be used by Kibana to query the database. Ideally this anonymous user would be part of the kibana.yml configuration.

The workflow would be:
* user with no credentials access Kibana
* Kibana checks a basic set of permissions (I guess read permission over the .kibana)
* if access granted: the menu on the right shows

[2018-03-22 12:29] jochenkressin commented on #66
Will make it more clear in the PDF, the docs, however, correctly have the "Enterprise" label for the configuration GUI: https://docs.search-guard.com/latest/configuration-gui

[2018-03-22 13:37] willouuu commented on #66
Thanks !
But why not allow the GUI for free license ?

[2018-03-22 13:49] jochenkressin commented on #66
The GUI is a convenience feature. It actually does not add any new functionality, means you can do everything that the GUI provides (and much more) with the sgadmin command line tool:

https://docs.search-guard.com/latest/sgadmin

The GUI uses the REST API under the hood, so we would need to make that free as well.

To answer in length: It's quite simple, we have a lot of developers working on Sea

[2018-03-22 14:08] willouuu commented on #66
Thank you for your explanations, I understand.
I might ask a quote next year, but I will only use GUI and maybe LDAP

[2018-03-26 09:41] willouuu commented on #22
Hi
I have same error, after login, redirect is http://monip/ instead of http://monip/kibana/ but the session is created

proxypass apache :
[code]

kibana.yml
`server.basePath: "/kibana"`

kibana.log :

[2018-03-26 09:42] willouuu opened #89 "Bad redirect after login ( proxypass apache + subdirectory )"
Hi
I have error, after login, redirect to http://monip/ instead of http://monip/kibana/ but the session is created

proxypass apache :
[code]

kibana.yml
`server.basePath: "/kibana"`

kibana.log :

Version : search-guard-6:6.2.2-21

[2018-03-28 05:56] ming2020 commented on #89
![image](https://user-images.githubusercontent.com/15954271/38011343-a45f6658-328f-11e8-91a3-2548c49189cd.png)

this is my nginx config
you look like missing RewriteRule

[2018-03-29 09:31] willouuu commented on #89
Hi,
Try to convert this rules to apache, but no changes

[code]

I think make a rewrite rules is a hack, the redirection would have to consider basePath variable

Thanks

[2018-03-29 13:23] willouuu commented on #89
I understand issue !

If go to http://ip/kibana/ redirect to http://ip/kibana/login?nextUrl=%2F#?_g=() and if go to http://ip/kibana/app/kibana/ redirect to  http://ip/kibana/login?nextUrl=%2Fapp%2Fkibana#?_g=()

Is it a issue or misuse?

[2018-03-29 13:55] #78 closed

[2018-03-30 12:22] ming2020 commented on #89
After change the `server.basePath` , have you reinstall search-guard-kibana-plugin?
delete the optimize folder and rebuild browser bundle, maybe it's work correct.

[2018-03-30 12:35] willouuu commented on #89
Yes I installed the plugin after configuring Kibana

[2018-04-02 11:06] sanky186 commented on #48
Hi Team, is the update containing readonly mode out ?

[2018-04-03 21:38] jochenkressin commented on #82
Fixed with Search Guard v22 and Kibana Plugin v11: https://docs.search-guard.com/latest/changelog-6-x-22

[2018-04-03 21:38] #82 closed

[2018-04-03 21:38] jochenkressin commented on #81
Fixed with Search Guard v22 and Kibana Plugin v11: https://docs.search-guard.com/latest/changelog-6-x-22

[2018-04-03 21:38] #81 closed

[2018-04-03 21:38] jochenkressin commented on #80
This is a Kibana issue, closing it here.

[2018-04-03 21:38] #80 closed

[2018-04-03 21:38] jochenkressin commented on #53
Fixed with Search Guard v22 and Kibana Plugin v11: https://docs.search-guard.com/latest/changelog-6-x-22

[2018-04-03 21:38] #53 closed

[2018-04-03 21:39] jochenkressin commented on #66
Fixed with Search Guard v22 and Kibana Plugin v11: https://docs.search-guard.com/latest/changelog-6-x-22

[2018-04-03 21:39] #66 closed

[2018-04-03 21:39] jochenkressin commented on #48
Added in Search Guard v22 and Kibana Plugin v11: https://docs.search-guard.com/latest/changelog-6-x-22

[2018-04-03 21:39] #48 closed

[2018-04-08 21:55] floragunncom commented on #88
possibly related to https://groups.google.com/d/msgid/search-guard/eafd0897-78ce-4022-9ecd-c810fed353b1%40googlegroups.com?utm_medium=email&utm_source=footer

[2018-04-08 21:56] floragunncom commented on #63
no feedback, assume solved

[2018-04-08 21:56] #63 closed

[2018-04-13 20:11] exwizzard opened #94 "Unable to start kibana after installing this plugin"
Hello,

I have installed search guard on elasticsearch and its working fine with default admin/admin user.

I have then installed this plugin for kibana and kibana refuses to start, if I remove the plugin it starts fine.

The kibana log just repeats these lines over and over:
`{"type":"log","@timestamp":"2018-04-13T20:07:51Z","tags":["status","plugin:searchguard@6.2.3","info"],"pid":15345,"state":

[2018-04-13 20:17] exwizzard commented on #94
Fixed by adding this to kibana.yml:

xpack.security.enabled: false

[2018-04-13 20:17] #94 closed

[2018-04-16 06:45] willouuu commented on #89
Hummm I have this error on Kibana 6.2.3 :

I cleared the session but it didn't work.

Thanks

[2018-04-16 22:40] uwrob opened #95 "Kibana login says license has 0 days left when trial has remaining days or enterprise disabled"
* Search Guard and Elasticsearch version: 6.2.3
* Installed and used enterprise modules, if any: DLSFLS, REST_MANAGEMENT_API, AUDITLOG, and MULTITENANCY

Derived from discussion post: [https://groups.google.com/forum/#!topic/search-guard/GkdW304ozho](https://groups.google.com/forum/#!topic/search-guard/GkdW304ozho)

----------------------------------------------------------------------------------

[2018-04-17 09:36] Sanjayaprasad opened #96 "After installing Search Guard Plugin not able to find dashboards"
Hi,

I have using search guard for authentication purpose in our Project. When i use this plugin all the earlier dashboards which was created is not visible now. Can anyone help me in resolving the issue. Thanks in advance.

[2018-04-17 09:40] floragunncom commented on #96
Please do not ask questions here.
For that refer to https://groups.google.com/forum/#!forum/search-guard

Github is a place **only** for reporting bugs or feature requests.
If you report a bug please include **always** the following informations:

* Search Guard and Elasticsearch version
* JVM version and operating system version
* Number of nodes in your cluster
* Description of the bug

These in

[2018-04-17 09:40] #96 closed

[2018-04-19 17:42] floragunncom commented on #95
@jochenkressin @mgustafsson1 can you have a look?

[2018-04-19 17:47] floragunncom commented on #89
@jochenkressin @mgustafsson1 can you pls have a look?

[2018-04-21 08:47] iahmad-khan commented on #48
Hi ,

Is there any documentation on how to setup the dashboard only mode through searchgaurd.

[2018-04-21 08:56] sanky186 commented on #48
Yes it has been updated in the documentation

[2018-04-21 09:00] sanky186 commented on #48
https://docs.search-guard.com/latest/kibana-read-only

[2018-04-21 09:09] iahmad-khan commented on #48
got it , thanks

[2018-04-21 10:41] sanky186 commented on #48
Only Kibana yaml. you can add existing users to the Kibana yaml . And, they will turn read-only in Kibana
Read-only rules in search guard are not for Kibana , they are for elastic.

[2018-04-21 11:58] iahmad-khan commented on #48
but the documentation says nothing about users , it says about roles , so we can put roles in kibana yaml and then in searchguard config assign those roles to users?

[2018-04-21 12:12] mgustafsson1 commented on #48
Yes, you can define one or more read only roles in kibana.yml and then, in the config, make sure to assign one of those roles to the user(s) that should only be able to see the dashboard.
You could for example create a "sg_read_only" role and map it to any given user.

[2018-04-21 21:09] iahmad-khan commented on #48
hi ,

its not working in my case:

in kibana.yml

searchguard.readonly_mode.roles: ["sg_readonly1"]

in sg_internal_users file:

readall:
  hash: ycwzwvLtZxwZ82RmiEunBbIPiAmGZduB
  roles:
    - sg_readonly1

[2018-04-21 21:33] floragunncom commented on #48
"roles:
- sg_readonly1"

This is a backend role, not a Search Guard role. You need to use the roles_mapping.yml to map a user or a backend role to a Search Guard role:

https://docs.search-guard.com/latest/mapping-users-roles

Use the authinfo endpoint to check the Search Guard roles of a user:

https://docs.search-guard.com/latest/demo-installer#testing-the-elasticsearch-installation

[2018-04-22 20:30] iahmad-khan commented on #48
No luck.

I configured kibana , and elasticsearch accordingly then now can't access
anything with that user. no dashboards nothing , it can just login only and
then red permission errors everywhere.

If the docs are updated to add some step by step process , from creating a
user , role and then mapping for this specific case , will be very useful
and less confusing.

the current user that i have c

[2018-04-24 01:50] jochenkressin commented on #95
Already looking ;) so far unable to reproduce. I'm on it.

[2018-04-24 02:10] jochenkressin commented on #95
So this one here is suspicious:

An error occurred while checking your credentials, make sure you have an Elasticsearch cluster secured by Search Guard running.

It occurs when we try to authenticate the user against the authinfo endpoint, get an error back and it is not 401, but something else, e.g. 500.

So when you try to login to Kibana, can you please have a look at the console (e.g. via chro

[2018-04-25 09:35] rubjurgens commented on #95
Hello!

We are having the same issue, but without a proxy and only with the community edition, without any enterprise modules, just by following the instructions and using the install_demo_configuration script.

I had a look in the network monitoring, and there was a 500 on the call http://{example}:5601/api/v1/systeminfo. Are there any logs on the server I could have a look?

Thanks in advance!

[2018-04-25 18:30] uwrob commented on #95
--------------------Looking at the console--------------------

**When the page loads the following error is outputted to the console:**
"vendors.bundle.js?v=16588:58 GET https://publicIP:5601/api/v1/systeminfo 500 (Internal Server Error)"

**When trying to authenticate the following error is outputed to the console:**
"POST https://publicIP:5601/api/v1/auth/login 500 (Internal Server Error)"

---

[2018-04-26 09:53] mgustafsson1 commented on #89
@willouuu Regarding your error message "Nav link for id...":
Unfortunately I can't reproduce this. If the "searchguard-configuration" isn't available for whatever reason, the code that would trigger that error message is never called as far as I can see.

Did you try deleting the contents of the "optimize" folder and restarting Kibana, as ming2020 suggested?
In the Chrome developer tools, if you o

[2018-04-27 12:30] willouuu commented on #89
yes, deleting optimize folder work for "Nav link for id " error, but not resolv my first problem to bad redirect after logout

[2018-04-28 03:36] jochenkressin commented on #95
Thanks for the detailed information, that helps a lot. In addition, could you @uwrob or @rubjurgens set the Search Guard debug level to DEBUG or even TRACE and then try to reproduce the error? The 500 should come from either ES or SG, so I guess we should see something in the logs. Caution: Setting the logs the debug or trace will produce a lot of output due to the healthchecks that Kibana perform

[2018-04-28 03:37] jochenkressin commented on #51
@alesnav friendly ping

[2018-04-28 04:09] jochenkressin commented on #89
Sorry to be late to the game here, but I can confirm that the "redirect-after-login" issue has been fixed with v12.

A simple test with a basepath "mybasepath":

nginx configuration:

`events {  }

http {
  server {
    listen 5602;
    location /mybasepath {
      proxy_redirect off;
      proxy_pass  http://localhost:5601/;
      rewrite ^/mybasepath/(.*)$ /$1 break;
    }
  }
}`

And in kibana.

[2018-04-30 13:48] iahmad-khan commented on #48
hi ,

any update?

Actually I want to hide all the controls on the kibana interface and let the users view the current dashboards only , is it possible with searchguard enterprise? and how to configure it.

[2018-04-30 19:32] uwrob commented on #95
I can do that, but how do I do set Search Guard debug level?

[2018-04-30 19:50] jochenkressin commented on #95
Sorry for not mentioning, setting the debug level is described here: https://docs.search-guard.com/latest/troubleshooting-tls

[2018-05-02 22:01] uwrob commented on #95
Viewing the documents in an audit-log index, all documents have the following syntax:

audit_node_id" : "-qPtc1TDSr-LrCI1jEHtPg",
          "audit_request_layer" : "REST",
          "audit_request_exception_stacktrace" : "javax.net.ssl.SSLHandshakeException: General SSLEngine problem\n\tat sun.security.ssl.Handshaker.checkThrown(Handshaker.java:1529)\n\tat sun.security.ssl.SSLEngineImpl.checkTaskT

[2018-05-03 08:38] alesnav commented on #51
Sorry @jochenkressin , I was forced to reinstall the cluster directly to 6.2 in other environment, so I cannot reproduce this issue.

As I can't give more info nor tests, I'm closing the issue.

[2018-05-03 08:38] #51 closed

[2018-05-03 20:11] floragunncom commented on #48
@jochenkressin @mgustafsson1 can you have a look?

[2018-05-04 15:57] jochenkressin commented on #48
Re-tested the dashboard mode, and everything seems to work as expected.

So to troubleshoot, I would suggest the following:

* Use a vanilla installation of Search Guard first, don't change any default users or roles
* Add the default sg_kibana_user user as readonly to kibana.yml:

`searchguard.readonly_mode.roles: ["sg_kibana_user"]`

* Restart Kibana and log in with kibanaro/kibanaro

This shoul

[2018-05-04 16:25] iahmad-khan commented on #48
Hi,

I have many other read only users as well.

But I want a read only users that can only see current dashboards and can't
see other controls to explore data. That is dashboard only mode.

Is that something provided by searchguard?

On Fri, May 4, 2018, 4:57 PM Jochen Kressin <notifications@github.com>
wrote:

[2018-05-04 16:39] jochenkressin commented on #48
Yes, that's what I was talking about. The dashboard only mode is released, and for all our unit and integration tests it works fine. So to figure out why it does not work in your installation, please follow the steps I provided and try to set up the dashboard only mode with our demo roles first. If this works we can have a look why it is failing for your self-defined roles.

[2018-05-04 16:53] jochenkressin commented on #95
Now I'm a bit confused ;) What you are seeing in the audit logs are TLS exceptions, and they mean that there's a problem with the certification path from one of the node or client certificates to the root certificate:

`Caused by: sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested target`

If these pop up in the audit logs, they should/

[2018-05-04 16:58] jochenkressin commented on #95
Also, if I understand correctly, you say you are routing all request via this configured proxy to ES:

elasticsearch.url: https://website:8398

* Do you see someting in the proxy logs eventually?
* When the proxy forwards the request to ES, which certificates are used? In other words, do you use ssl_pass_through or does your proxy terminate TLS?

Since you have:

`searchguard.ssl.http.enabled: tru

[2018-05-04 16:59] jochenkressin commented on #89
@willouuu friendly pling

[2018-05-08 19:47] callahan22 commented on #80
Just an FYI for anyone else ending up here looking for a solution to the above problem.
The solution is to install the search-guard-kibana-plugin through Powershell not the cmd.
Once it's done this way, start up Kibana.bat from within the same Powershell window and test.
Once you've confirmed that works, you can terminate the process in PS and go back to running it as a service or however you used

[2018-05-09 13:38] willouuu commented on #89
I reinstall everything in version 6.2.4 and it works

Sorry for the inconvenience

[2018-05-09 13:38] #89 closed

[2018-05-11 11:14] NerdSec opened #97 "EACCES permission denied | X-Pack integration"
I am receiving an error after installing x-pack along with the search-guard. Kibana is unable to start and keeps restarting in a loop with the following output logged in the log file:

[code]

Steps to reproduce the issue:
1) Install Elasticsearch & Kibana
2) Install x-pack on Elasticsearch
3) Update the basic license using curl
5) Install search-guard on Elasticsearch
4) Configure ssl using the O

[2018-05-24 06:45] HansaTheDeveloper commented on #46
When you are login as a super admin then you can see 'search guard' menu on sidebar. First set secure guard plugin in elasticsearch then set 'searchguard.basicauth.forbidden_usernames: ["kibanaserver", "logstash"]'  on kibana.yml file then run restart elasticsearch and kibana. Now login as a elasticsearch credentials like user:admin and pwd: admin. Then you can see sidebar menu 'search guard' on k

[2018-05-30 18:59] floragunncom commented on #97
@jochenkressin @mgustafsson1 any idea what can cause this?

[2018-05-31 10:28] floragunncom commented on #95
Fixed with v13

[2018-05-31 10:28] #95 closed

[2018-06-08 00:44] lyeesim988 opened #98 "Kibana failed to login in SearchGuard GUI"
Hi I have this error when I tried to login with kibanaserver after the search-guard kibana plugin installation.

![gui](https://user-images.githubusercontent.com/38025718/41132963-b567ccc0-6af6-11e8-90b2-e30182f82b9b.png)

I have 2 nodes which are the aws instances, the certificates are generated by offline TLS tool.
The kibana is installed on another client and point to node1.

My kibana.yml

[co

[2018-06-09 16:43] floragunncom commented on #98
If you have generated self-signed certificates with the TLS tool, you need to either disable certificate verification by setting:

# To disregard the validity of SSL certificates, change this setting's value to 'none'.
elasticsearch.ssl.verificationMode: none

Or you need to configure your root CA in Kibana:

elasticsearch.ssl.certificateAuthorities: [ "/path/to/your/CA.pem" ]

Otherwise, certific

[2018-06-09 17:00] jochenkressin commented on #97
This is the relevant log entry:

`{"type":"error","@timestamp":"2018-05-11T10:54:32Z","tags":["fatal"],"pid":28977,"level":"fatal","error":{"message":"EACCES: permission denied, open '/usr/share/kibana/optimize/bundles/searchguard-login.entry.js'","name":"Error","stack":"Error: EACCES: permission denied, open '/usr/share/kibana/optimize/bundles/searchguard-login.entry.js'\n    at Error (native)","

[2018-06-10 16:50] NerdSec commented on #97
Hi,

Yes. I ran the following command on the `/usr/share/kibana/optimize/bundles` directory:
[code]
After this, kibana optimized the plugins once again and I was able to see the monitoring app in Kibana. However, this feels a little weird, given that the output of `ls -la /usr/share/kibana` is as follows:

[code]

Why is the permission for some directories set to root and some to kibana? I have in

[2018-06-11 07:36] lyeesim988 commented on #98
Hi thank you for the advice. I greatly appreciate it. It works after I insert this line to kibana.yml as you suggested:
[code]
Then, I get the constant redirection to login page without error message so I set kibana to accept unsecure HTTP by:

[code]

The login is fine now but I did not see the Search Guard entry in the left navigation pane.

![1](https://user-images.githubusercontent.com/3802571

[2018-06-12 18:03] floragunncom commented on #98
Will close this because it's not an issue. Pls ask questions here: https://groups.google.com/forum/#!forum/search-guard

[2018-06-12 18:03] #98 closed

[2018-06-12 18:06] floragunncom commented on #97
As this is not really Search Guard but Kibana related I like to close the issue.
I guess the right place for further discussion would be https://discuss.elastic.co

[2018-06-13 04:10] NerdSec commented on #97
Sure. Thanks for the information.

[2018-06-13 04:10] #97 closed

[2018-06-14 13:49] yabir commented on #25
So... what was the solution? i have the same problem and the documentation is so complex

[2018-06-14 13:51] cooperspencer commented on #25
Sorry, didn't found one and gave up.

[2018-06-28 11:00] hackery commented on #9
Now here: https://docs.search-guard.com/latest/kibana-authentication#basic-authentication-configuration

[2018-06-29 18:30] floragunncom commented on #48
No, readonly mode will not work for 5.x.

[2018-06-30 11:09] ameygat opened #99 "Add change self password UI for User [Feature request]"
I think the basic password management of changing own password would be very useful feature in the Kibana Plugin. Right now I am unable to see any option that will allow users to change their password from Kibana User interface.

[2018-07-09 20:17] izvictor opened #101 "KIBANA plugin installation stuck on "Optimizing and caching browser bundles...""
Hello,
I'm trying to install the search guard kibana plugin on Kiabana 6.3.0 and the plugin installation is stuck on "Optimizing and caching browser bundles..."
![image](https://user-images.githubusercontent.com/98562/42473520-288b053c-83c5-11e8-955b-a794cbbfe5be.png)
The KIBANA log file is saying:
[code]

Can you please advise/help me with the installation please ?
Best regards.

[2018-07-09 21:30] floragunncom commented on #101
The optimization step is a built-in Kibana process that you cannot skip. It was always painfully slow and you can find a lot of issues around this on the Elasticsearch forums. Now with 6.3.x the situation is even worse, since (if you don't download the pure OSS version) Kibana comes bundled with the X-Pack plugin. Which means both X-Pack and Search Guard need to go through the optimization process

[2018-07-09 21:33] floragunncom commented on #99
True, this feature is not there. The main reason is that it would only work if you use the internal user database to store users. For all other authentication methods like LDAP, Active Directory, JSON web token, certificate based auth and so on it would not work since the user credentials are stored on an external system. We'll keep this issue open for the moment and investigate how much effort it

[2018-07-11 20:44] izvictor commented on #101
Hello,
Thanks for taking time to answer me.
The problem is that the plugin installation is taking 9 hours now and nottill not finished. I activated the logging.verbose in kibana and no error messages are shown.
Is there any way I can activate some debug level to see what's happening?
Thanks ...

[2018-07-12 02:44] RodKWATE commented on #25
I have the same problem

[2018-07-12 02:45] RodKWATE commented on #25
anny issue ?

[2018-07-12 02:49] RodKWATE commented on #98
I have the same problem but no solution . Can you help me ? Thank you

[2018-07-12 03:47] RodKWATE opened #103 "Search guard kibana Login fails even if credentials are correct"
Hi,

When I try to enter kibana I always get:
An error occurred while checking your credentials, make sure your have a running Elasticsearch cluster secured by Search Guard running.

Maybe I forgot something in the config.

[2018-07-12 07:08] floragunncom commented on #98
Please do not ask questions here.
For that refer to https://groups.google.com/forum/#!forum/search-guard or, if you are a paying customer, contact our support.

Github is a place **only** for reporting bugs or feature requests.
If you report a bug please include **always** the following informations or the issue will likely be closed as invalid:

* Search Guard and Elasticsearch version
* Kibana p

[2018-07-12 07:08] floragunncom commented on #103
Please do not ask questions here.
For that refer to https://groups.google.com/forum/#!forum/search-guard or, if you are a paying customer, contact our support.

Github is a place **only** for reporting bugs or feature requests.
If you report a bug please include **always** the following informations or the issue will likely be closed as invalid:

* Search Guard and Elasticsearch version
* Kibana p

[2018-07-12 07:08] #103 closed

[2018-07-12 07:10] floragunncom commented on #101
9 hours is definitely not right. However, the optimization process is Kibana internal and cannot be switched off unfortunately. Have you tried to download the OSS version if Kibana (without X-Pack) and install Search Guard there?

[2018-07-12 07:17] jochenkressin commented on #37
@mgustafsson1 I think we can implement this relatively easy now on the new codebase, right? However, I still think this opens potential security leaks. Passwords in URLs is not something we would like to promote. So I'm willing to implement it, but users need to enable the feature actively by flipping a config switch in kibana.yml. The default should be the behavior as we have it now (no support f

[2018-07-13 20:58] izvictor commented on #101
Didn't try the OSS version but found a post saying that all the x-pack features should be disabled in the kibana.yml in order for search guard to work.
So I have added the following config properties in the kibana.yml file:
[code]
Well the plugin installation is still stuck at **Optimizing and caching browser bundles...** step , but after canceling the process and starting kibana the search guard

[2018-07-13 20:58] #101 closed

[2018-07-16 10:15] mazadard commented on #101
Hi, I have the exact same problem and exact same log. But the problem is not solved by canceling the process. I tried to remove and reinstall kibana and still doesn't work.

Can you help me ? Thanks

[2018-07-16 12:37] izvictor commented on #101
Hello,
Which version of kibana are you using 6.3.0 or 6.3.1 ?
Are you using Kibana OSS or Kiabana with X-Pack embedded ?
Have you disabled the x-pack features in the kiabna.yml ?
[code]
Try launching the kibana process from command line by running the kibana.bat too see if no errors are shown in the std output...
Regards,

[2018-07-16 12:51] mazadard commented on #101
I tried again and I guess this message:

{"type":"log","@timestamp":"2018-07-09T20:13:07Z","tags":["info","optimize"],"pid":3764,"message":"Optimization of bundles for ml, stateSessionStorageRedirect, status_page, timelion, graph, monitoring, login, logout, dashboardViewer, apm, searchguard-login, searchguard-multitenancy, searchguard-configuration and kibana **complete in 210.36 seconds**"}

.. m

[2018-07-16 20:19] skipper00 opened #105 "Support for Kibana 6.3.1"
is kibana 6.3.1 supported?
thanks

[2018-07-17 07:22] zqc0512 opened #106 "is now support 5.6.10?"
is now support 5.6.10?
i don't find the zip file on github
thanks.

[2018-07-17 09:06] nicolas-f commented on #105
no.

```Plugin installation was unsuccessful due to error "Incorrect Kibana version in plugin [searchguard]. Expected [6.3.1]; found [6.3.0]"```

[2018-07-17 09:35] floragunncom commented on #105
Please see here for status: https://groups.google.com/forum/#!topic/search-guard/lTp5OB-011Q

[2018-07-17 09:35] #105 closed

[2018-07-17 09:36] floragunncom commented on #106
Please see here for status: https://groups.google.com/forum/#!topic/search-guard/lTp5OB-011Q

There's an issue on our release pipeline and we're looking into it at the moment.

[2018-07-17 09:36] #106 closed

[2018-07-24 11:50] occho opened #108 "Dots in regex should be allowed when configuring role's index-level permissions"
## Issue

Regular expression is available for specifying index-level permissions for a role.

But, when setting a regular expression pattern including dots, the dots are replaced with `?` in the method [submitAddIndex](https://github.com/floragunncom/search-guard-kibana-plugin/blob/v6.3.1-14-beta-1/public/apps/configuration/sections/roles/controller.js#L382).

The pattern created after the replace

[2018-07-25 11:38] Gokul-15 opened #109 "Plugin installation was unsuccessful due to error "Error retrieving metadata from plugin archive""
A%22search-guard-kibana-plugin%22.zip
Attempting to transfer from https://search.maven.org/#search%7Cga%7C1%7Ca%3A%22search-guard-kibana-plugin%22.zip
Transferring unknown number of bytes
Transfer complete
Retrieving metadata from plugin archive
Error: end of central directory record signature not found
    at C:\kibana-6.3.0-windows-x86_64\node_modules\yauzl\index.js:179:14
    at C:\kibana-6.3.0

[2018-07-25 12:32] #109 closed

[2018-07-25 12:34] Gokul-15 opened #110 "An error occurred while checking your credentials, make sure you have an Elasticsearch cluster secured by Search Guard running."
The Search Guard license information could not be loaded. Please contact your system administrator.
Please login to Kibana

If you have forgotten your username or password, please ask your system administrator

kibanaserver

••••••••••••
An error occurred while checking your credentials, make sure you have an Elasticsearch cluster secured by Search Guard running.

[2018-07-26 02:41] occho opened #111 "Link to edit role's index-level permission does not work when regex is used"
## Issue

In the view to edit roles, the link to edit role's index-level permission does not work when regex is used for the index pattern.

![2018-07-26 11 33 09](https://user-images.githubusercontent.com/1100890/43238137-dbd1c1e4-90c7-11e8-88f2-314d9b8aeb2c.png)

The text `/\S*/` is linked to `http://HOST:5601/app/searchguard-configuration#/roles/edit/0-test/%2F%5CS*%2F`.

When clicking the link

[2018-07-26 05:30] occho opened #112 "Selectable permissions are limited when configuring Action Group"
When configuring permissions in an Action Group, selectable choices are limited to [`indexpermissions` list](https://github.com/floragunncom/search-guard-kibana-plugin/blob/v6.3.1-14-beta-1/public/apps/configuration/permissions/indexpermissions.js).

That does not allow us to select permissions like `indices:data/read*` as specified in `READ` action group.

## Versions

The versions I've experienc

[2018-07-26 08:39] pythondz opened #113 "Kibana authentication using login/pwd is broken when using client certs"
Elastic stack version : 6.2.4

Search-guard plugins :
 * elasticsearch : com.floragunn:search-guard-6:6.2.4-22.3
 * kibana : com.floragunn.search-guard-kibana-plugin:6.2.4-13

**Use case implementation :**

![github_issue](https://user-images.githubusercontent.com/13331265/43250552-2a5856b8-90ad-11e8-80b8-3e6cfd8386b8.PNG)

**Current behavior :**

Access to elasticsearch using a client certificate

[2018-07-26 18:10] floragunncom commented on #113
Thank you very much for your detailed report, much appreciated. Unfortunately, the use case you describe is not possible due to limitations in Kibana. If you configure a client certificate, it is added to all requests, not only the requests of the Kibana server user. You can read more about it in this Google Group post:

https://groups.google.com/forum/#!searchin/search-guard/client$20certificate|

[2018-07-26 18:10] #113 closed

[2018-07-27 01:08] ceeeekay opened #114 "Kibana 6.3.1 beta 1 - sessions timing out even with auto-refresh enabled"
Since upgrading to 6.3.1 and installing Kibana plugin 6.3.1-14-beta-1, any dashboards left sitting with auto-refresh enabled will expire their session and display an "Unauthorised" banner after one hour.

This was not happening with 6.3.0.

Obviously it's not a good situation for unattended dashboards, as they need regular intervention.

Kibana / ES 6.3.1
Ubuntu 16.04
Firefox 61.0.1

[2018-08-03 14:54] sylmarch opened #120 "Plugin installation stucks on "Optimizing and caching browser bundles...""
Installation of Searchguard Kibana plugin stucks on "Optimizing and caching browser bundles..." messages for hours.

However, the installation seems to work.

I think https://docs.search-guard.com/latest/kibana-plugin-installation should be improved to reference possible kibana-plugin stucks and give some advices.

My version :
- Kibana : version 6.3.2
- Searchguard Kibana plugin: search-guard-kib

[2018-08-03 14:56] sylmarch commented on #120
See also #101.

[2018-08-07 16:40] sehdorn opened #122 "Typo in build.sh ?"
Hey guys,

i am trying to package the plugin and make the build run, and I stumbled upon this:
https://github.com/floragunncom/search-guard-kibana-plugin/blob/85e900ee3855f6ae0a6043a1d3fcf6b70ea5d7d1/build.sh#L3
Could it be, that

 needs to be assigned to $2 ? Otherwise I do not really see any assignment of $2, so what it is about?
Also, any further hints about building the plugin would be really

[2018-08-08 12:39] bienensenf opened #123 "Usecase: Using kibana plugin as standalone"
Hello,

I would like to use this plugin as standalone so independent from the elasticsearch plugin. I would be pretty free in terms of authentication type. Is this possible? A workaround would also be okay like writing files and pretending the plugin was installed.

Thank you very much

[2018-08-08 18:37] floragunncom commented on #123
Please do not ask questions here.
For that refer to https://groups.google.com/forum/#!forum/search-guard or, if you are a paying customer, contact our support.

Github is a place **only** for reporting bugs or feature requests.
If you report a bug please include **always** the following informations or the issue will likely be closed as invalid:

* Search Guard and Elasticsearch version
* Kibana p

[2018-08-08 18:37] #123 closed

[2018-08-09 14:01] JJJuin opened #124 "Excuse me ,where is 'search-guard-kibana-plugin-6.3.0-13.zip'"
.

[2018-08-16 15:47] janniten opened #127 "Kibana Plugin not working on ES 6.3.2 installation"
Hi, I'm trying to setup SearchGuard on a ELK Stack 6.3.2.
I have problems with the kibana plugin.
Following the instructions in the "Demo Installer" documentation, when "Testing the Kibana installation" I get this error:

X-Pack Security needs to be disabled for Search Guard to work properly. Please set 'xpack.security.enabled' to false in your kibana.yml

I haven't install the X-Pack, but reading

[2018-08-16 16:09] janniten commented on #127
Hi
It is a permission problem... If I run kibana as root it worked.
So, it is some permission wrong in my searchguard installation.
I performed the plugin installation as root, With which user should I perform the installation or which permission should the searchguard folder/archives have?
Thank you
Regards
Ana

[2018-08-16 16:14] floragunncom commented on #127
Please do not ask questions here.
For that refer to https://groups.google.com/forum/#!forum/search-guard or, if you are a paying customer, contact our support.

Github is a place **only** for reporting bugs or feature requests.
If you report a bug please include **always** the following informations or the issue will likely be closed as invalid:

* Search Guard and Elasticsearch version
* Kibana p

[2018-08-16 16:14] #127 closed

[2018-08-27 14:38] gur79 commented on #124
https://repo1.maven.org/maven2/com/floragunn/search-guard-kibana-plugin/6.3.1-14/

[2018-09-03 13:30] saravanan30erd opened #128 "Constant redirection to login page in 443"
When I try to log in using the Search Guard login dialogue, after pressing the login button I redirected to the login page again even though I provided the correct credentials. No error message is displayed.

I followed the demo installation,
https://docs.search-guard.com/latest/demo-installer

Additionally I configured the kibana with valid domain SSL certificate and switched to port 443.

Note:

[2018-09-03 16:40] floragunncom commented on #124
Please do not ask questions here.
For that refer to https://groups.google.com/forum/#!forum/search-guard or, if you are a paying customer, contact our support.

Github is a place **only** for reporting bugs or feature requests.
If you report a bug please include **always** the following informations or the issue will likely be closed as invalid:

* Search Guard and Elasticsearch version
* Kibana p

[2018-09-03 16:40] #124 closed

[2018-09-03 16:44] floragunncom commented on #122
The PLUGIN_VERSION is indeed a leftover and can be removed. $2 is used just one line below:

`PLUGIN_NAME="searchguard-kibana-$1-$2"`

Will correct that glitch in the script.

[2018-09-03 16:46] floragunncom commented on #114
This was fixed in the lates v14 release of the plugin

[2018-09-03 16:46] #114 closed

[2018-09-03 16:46] floragunncom commented on #111
This was fixed in the latest v14 release of the plugin

[2018-09-03 16:46] #111 closed

[2018-09-03 16:47] floragunncom commented on #110
closing due to inactivity

[2018-09-03 16:47] #110 closed

[2018-09-05 18:30] #128 closed

[2018-09-10 04:01] leviIM commented on #48
@jochenkressin hai, i follow this step.
##
Re-tested the dashboard mode, and everything seems to work as expected.

So to troubleshoot, I would suggest the following:

Use a vanilla installation of Search Guard first, don't change any default users or roles
Add the default sg_kibana_user user as readonly to kibana.yml:
searchguard.readonly_mode.roles: ["sg_kibana_user"]

Restart Kibana and log in

[2018-09-18 09:50] maghibus commented on #120
Hi,
I have the same problem when I remove the plugin
Kibana freezes

`{"type":"log","@timestamp":"2018-09-18T09:46:08Z","tags":["info","optimize"],"pid":12295,"message":"Optimizing and caching bundles for stateSessionStorageRedirect, status_page, timelion and kibana. This may take a few minutes"}`

[2018-09-24 07:33] jochenkressin commented on #122
Corrected in Kibana plugin v15.

[2018-09-24 07:33] #122 closed

[2018-11-22 09:47] jochenkressin commented on #88
Kibana v16 has been released yesterday which fixes this issue.

[2018-11-22 09:47] #88 closed

[2018-11-27 11:36] MGloder opened #151 "[help] integrate CAS with search-guard-kibana-plugin"
Hi there,

I'am currently implementing CAS configuration for  search-guard-kibana-plugin(V6.1.3-12) and actually  it will need some code rewriting.

Here is the problem, I am already able to get xxx/?ticket=ST-XXXX-csa from browser side, but not able to get the query from search-guard plugin

Is anyone can help me?

[2018-12-06 13:22] floragunncom commented on #151
@jochenkressin @mgustafsson1 Can you have a look here?

[2018-12-06 23:34] floragunncom commented on #108
@mgustafsson1 @jochenkressin is this fixed?

[2018-12-11 06:36] fe7ch opened #155 "Double basic auth window"
Elasticsearch version: 6.5.1
Search Guard version: 23.2
Kibana plugin version: 16
JVM version: Oracle Corporation/Java HotSpot(TM) 64-Bit Server VM/1.8.0_191/25.191-b12
OS version: Linux/4.4.0-116-lowlatency/amd64

I was following the docs https://docs.search-guard.com/latest/kibana-authentication-http-basic and end up with the following lines in kibana.yml:

[code]

When I try to login into kiban

[2018-12-11 09:05] jochenkressin commented on #155
Please have a look at the upgrade instructions:

https://docs.search-guard.com/latest/upgrading-560

You need to disable Spaces for the moment, a fix for this is on the way!

[2018-12-11 09:53] fe7ch commented on #155
Thanks. Indeed, the `xpack.spaces.enabled: false` fixed the issue.

However, I wasn't upgrading to 5.6+, at the time when I installed search-guard for the first time I was already using es 6.5.1 and I haven't seen requirement for the `xpack.spaces.enabled` in the installation instructions.

[2018-12-11 11:54] floragunncom commented on #155
We will add this also to the installation instructions, thx a lot.

[2018-12-11 11:54] #155 closed

[2018-12-11 11:56] fe7ch commented on #155
@floragunncom Could you please also comment on this one?

[2018-12-11 12:05] floragunncom commented on #155
It's `sgtenant`

[2018-12-11 12:07] fe7ch commented on #155
Thanks!

[2018-12-14 06:50] floragunncom commented on #120
Since Kibana 6.5.0 you can also give the `--no-optimize`option:

[code]
(This is especially helpful when installing within a Dockerfile)

[2018-12-20 11:16] GaneshKudikala commented on #1
I have the same issue when I am instaling kibana plugin,
Error: Plugin installation was unsuccessful due to error "No valid url specified."

I tried with ./kibana-plugin install https://github.com/floragunncom/search-guard-kibana-plugin/archive/v6.3.0-16.zip

Downloaded in local directory and tried to  install  ./kibana-plugin install /tmp/search-guard-kibana-plugin-6.5.3-16.zip

./kibana-plugin i

[2018-12-20 12:16] floragunncom commented on #1
Please do not ask questions here.
For that refer to https://groups.google.com/forum/#!forum/search-guard or, if you are a paying customer, contact our support.

Github is a place **only** for reporting bugs or feature requests.
If you report a bug please include **always** the following informations or the issue will likely be closed as invalid:

* Search Guard and Elasticsearch version
* Kibana p

[2018-12-20 20:50] floragunncom commented on #120
Closing this due to inactivity

[2018-12-20 20:50] #120 closed

[2019-01-07 09:51] breml opened #162 "Version information in documentation of Kibana plugin accountinfo feature missleading"
The current version of the documentation of the [`searchguard.accountinfo.enabled` feature](https://docs.search-guard.com/latest/kibana-account-overview) states the version required is *6.x-24* which refers to the version of the Searchguard plugin for Elasticsearch and not for the Kibana plugin (there is no version 24 for the Kibana plugin). As far as I can tell, the minimum version of the Kibana

[2019-01-09 13:52] breml opened #164 "Provide Version Information of search-guard-kibana-plugin in UI"
As mentioned/asked in https://github.com/floragunncom/search-guard-module-kibana-multitenancy/issues/13#issuecomment-396205117, it seams, that there is currently now way to get the version number of the `search-guard-kibana-plugin` installed in Kibana. The *Search Guard System Status* page in Kibana only shows the version inforation of the Search-Guard modules/plugins installed with Elasticsearch.

[2019-01-10 11:08] breml opened #165 "Read/Open saved search (Discover View) not available with read-only tenant permission"
With multi tenancy enabled and a user with read-only permission for the selected tenant in Kibana, the user is not able to read/open saved searches in the Discover view of Kibana. The whole menu-bar is not visible for the user.

This is the same for the Visualize and Dashboard Views, but there it is less severe, because Kibana by default offers a list of the available Visualizations/Dashboards whe

[2019-01-10 14:04] floragunncom commented on #165
@mgustafsson1 @jochenkressin can you have a look?

[2019-01-10 14:35] jochenkressin commented on #165
This should be fixed with this PR: https://github.com/floragunncom/search-guard-kibana-plugin/pull/149. The PR is already merged in v17 of the plugin, the release to be announced. @breml which version are you currently using?

[2019-01-10 19:07] floragunncom commented on #164
@mgustafsson1 @jochenkressin can you have a look? Is it the same as ITT-1728?

[2019-01-10 19:10] floragunncom commented on #162
@mgustafsson1 @jochenkressin can you have a look?

[2019-01-10 19:15] floragunncom commented on #162
Yes it's [Kibana >= v16](https://github.com/floragunncom/search-guard-kibana-plugin/commit/9240fd624487f23546dfefe52d98a6986df6b6ae#diff-c91a79cd32b846822f6bc849f65c744f).

@jochenkressin docs are currently versioned by sg version, not kibana version. Lets think about this.

[2019-01-10 20:30] jochenkressin commented on #162
I totally agree it is confusing. We decided on a different versioning schema for ES and KI in order to be able to release (bugfix) versions for ES and KI independently. However, more often than not fixes or features require minimum versions for ES *and* KI. We will very likely change the versioning schema for SG7 to avoid this confusion.

[2019-01-11 11:18] floragunncom commented on #162
We have this overview already, maybe it helps until then: https://docs.search-guard.com/latest/search-guard-versions

[2019-01-14 06:11] breml commented on #165
As we are currently using version 6.2.4 of the Elastic Stack, version 15 of the Search-Guard Kibana plugin is the most recent version available. There are plans to update to a more recent version of the Elastic Stack, which would make available the more recent versions of the Kibana plugin, but currently we are not there yet.

[2019-01-14 13:11] #165 closed

[2019-01-16 17:09] maghibus commented on #101
On the contrary using Kibana-oss it works.
Why?

[2019-01-16 17:42] jochenkressin commented on #101
This is a well-known problem that Elastic is not really keen on fixing. The built-in optimize process is based on webpack and there always have been issues (mainly memory related), especially with Docker. You will find a lot on the ES/KI forum regarding this matter. The reason why the OSS flavor seems to work better is simply that the optimize process just needs to optimize the Search Guard plugin

[2019-01-26 08:51] phanipvarma9 opened #166 "Losing user's Dashboard & Visualization access after rebooting Kibana"
search-guard-6
- Plugin information:
Name: search-guard-6
Description: Provide access control related features for Elasticsearch 6
Version: 6.5.4-24.0
Elasticsearch Version: 6.5.4
Java Version: 1.8
Kibana: 6.5.4
OS: CentOS Linux release 7.4.1708 (Core)

Steps Followed:

-Login to Kibana as admin user
-Using Search Guard UI, configured permissions, roles and users (tenant-admin, tenant-readonly)
-L

[2019-01-26 21:04] phanipvarma9 commented on #166
[sg-elk-logs.zip](https://github.com/floragunncom/search-guard-kibana-plugin/files/2799484/sg-elk-logs.zip)

[2019-01-26 21:10] phanipvarma9 commented on #166
Attached the logs.

Indices Output from ES:

--> Initial Indices List before Tenant use logs into Kibana (Global Index .kibanaloganalytics_1)

# curl -u admin:admin -X GET "https://10.95.125.122:9200/_cat/indices?v" --insecure
health status index                       uuid                   pri rep docs.count docs.deleted store.size pri.store.size
yellow open   coke_gdt_syslog_2019.01.25  -zHYWFiy

[2019-02-06 17:27] bond- commented on #48
@floragunncom Currently our readonly users have access to Kibana Discover tab, is there a way to restrict which links are accessible?

[2019-02-06 19:13] floragunncom commented on #48
Stay tuned, we will release soon something which gives you more control about users can see in Kibana and what not. Watch out in the google group forum or twitter for our announcements.

[2019-02-18 14:21] vostrom opened #172 "Plugin installation was unsuccessful due to error - cannot find module"
Hi!
I am trying to install the search-guard-plugin for Kibana (version 6.6 on elasticsearch version 6.6 on linux).
It looks like I am missing node modules and the installation fails every time on a different missing module.
I use `npm install {}` for the missing module and the next one is missing (I have installed requireFrom, moment, https-proxy-agent, etc.).
Now I am missing '@elastic' module an

[2019-02-19 08:02] jochenkressin commented on #172
How exactly did you install the plugin? Did you use the Kibana plugin install command?

[2019-02-19 13:38] vostrom commented on #172
Yes I used "./bin/kibana-plugin install file:///tmp/search-guard-kibana-6.6.0-18.zip"

[2019-02-19 17:38] jochenkressin commented on #172
I've never encountered this issue before, normally there should be no need to install any node modules manually. Do you see anything in the Kibana logs while installing the plugin? Maybe it's a file-system permission issue? Could you check the permissions on the Search Guard plugin folder?

@mgustafsson1 Any idea from your side?

[2019-02-19 17:40] jochenkressin commented on #164
The plugin version is now displayed on the Search Guard system info page and in the accounts info page.

[2019-02-19 17:40] #164 closed

[2019-02-19 17:40] #166 closed

[2019-02-19 21:28] floragunncom commented on #172
@vostrom From where did you download/install Kibana? Did you change anything (or built it yourself)?

[2019-02-26 19:32] jacobhummer opened #174 "5.x version JWT and `sg_tenant` parameter with multi-tenancy enabled"
I'm on the latest 5.x version (`v5.6.15-7` specifically) of this plugin and Kibana fails to load (error from Kibana included below) when leveraging both JWT as URL parameter and having multi-tenancy enabled with the use of the `sg_tenant` parameter as well.

Basically the `authinfo` call [here](https://github.com/floragunncom/search-guard-kibana-plugin/blob/v5.6.15-7/lib/multitenancy/headers.js#L3

[2019-03-04 23:48] floragunncom commented on #174
@jochenkressin @mgustafsson1 can you have a look?

[2019-03-05 13:34] mgustafsson1 commented on #174
@jacobhummer I think your analysis is right on point. I'll look into this! Thanks!

[2019-03-05 15:38] jacobhummer commented on #174
Awesome thank you! Happy to provide anymore info if needed.

[2019-03-11 19:03] jacobhummer commented on #174
I was able to confirm swapping the order to require JWT first before Multitenancy artifacts in the `index.js` file resolves my issue.  Screenshot of diff:
![image](https://user-images.githubusercontent.com/4721891/54150057-f78d3180-440d-11e9-8aed-0c5f244e8b69.png)

I just tested this locally by updating my `index.js` file directly though. Would it help if I put together a PR for this against the l

[2019-03-11 23:09] mgustafsson1 commented on #174
@jacobhummer If you have the time, a PR would be great!
If you don't, I'll do my best to get this implemented and tested before the next release though!

[2019-03-21 04:11] 32328254 opened #180 "search-guard-kibana-plugin-5.6.12"
hi：
  disturb ^.^
     can you tell me where is search-guard-kibana-plugin-5.6.12？

[2019-03-29 18:07] jacobhummer commented on #174
thank you @mgustafsson1 much appreciated!

[2019-04-02 10:56] adrianmester opened #182 "Broken link for 6.4.0-18.1"
https://docs.search-guard.com/latest/search-guard-versions

The link on this page is currently broken:

https://oss.sonatype.org/service/local/repositories/releases/content/com/floragunn/search-guard-kibana-plugin/6.7.0-18.1/search-guard-kibana-plugin-6.7.0-18.1.zip

I assume there was an issue with the automated build?

[2019-04-02 10:58] floragunncom commented on #182
Already fixed, correct link is https://oss.sonatype.org/service/local/repositories/releases/content/com/floragunn/search-guard-kibana-plugin/6.7.0-18.2/search-guard-kibana-plugin-6.7.0-18.2.zip (and there will be a 18.3 release shortly)

[2019-04-02 10:58] #182 closed

[2019-04-04 14:04] Amarquier opened #183 "Kibana plugin doesn't seem to be linked with the conf files"
Hi,
I'm using the demo version and the last version of the plugin.

I don't know if this is a normal behavior or an issue but when I add a new user through kibana UI it is not written in the conf file (sg_internal_users.yml for this example). This is the case for both directions and for other conf files too

Did I missed something in the installation guide ? If no, what's the point of not having t

[2019-04-04 14:04] floragunncom commented on #183
Please do not ask questions here.
For that refer to https://forum.search-guard.com or, if you are a paying customer, contact our support.

Github is a place **only** for reporting bugs or feature requests.
If you report a bug please include **always** the following informations or the issue will likely be closed as invalid:

* Search Guard and Elasticsearch version
* Kibana plugin version
* JVM ve

[2019-04-04 14:04] #183 closed

[2019-04-13 07:18] wcfCode commented on #172
https://search.maven.org/artifact/com.floragunn/search-guard-kibana-plugin/6.6.0-18.1/pom

[2019-04-25 21:25] chopchop505 commented on #43
I'm now seeing this error with xpack.reporting enabled in 6.6.
Can you confirm search guard works with xpack reporting?

[2019-04-30 19:41] CraightonH commented on #43
I had the same issue as above, but then got monitoring to work after adding the following lines to my `kibana.yml` file:
`
xpack.monitoring.enabled: true
xpack.security.enabled: false
xpack.spaces.enabled: false
xpack.graph.enabled: false
xpack.ml.enabled: false
xpack.apm.enabled: false
xpack.reporting.enabled: false
`
I think it was the reporting plugin that finally did that trick, but I haven't

[2019-05-08 09:38] Foxeronie opened #195 "Default index will be unset sometimes in tenants"
Hi everyone,

since our update from 6.2.4 to 6.6.1 we have the problem that sometimes the default index is not set anymore in some tenants.
It only seems to happen, if multiple people use the tenant.
So personA uses Tenant 'Example'. Then if personB is accessing the tenant and data it happens that personA will be redirected to the index management site, because no default index is set.
I already t

[2019-05-08 11:21] floragunncom commented on #195
@jochenkressin @mgustafsson1 can you have a look?

[2019-05-09 13:30] jochenkressin commented on #195
I guess we will need to try to reproduce this. At first glance, the configuration seems fine to me.

Is this behavior reproducible consistently? Means can I use the following steps to reproduce?

"So personA uses Tenant 'Example'. Then if personB is accessing the tenant and data it happens that personA will be redirected to the index management site, because no default index is set."

Also, if I u

[2019-05-10 15:50] pdanysz commented on #195
Dears,

ELK 6.6.2
Kibana 6.6.2
SG 18.3

He have similar issue, and this must be some kind of Bug :( We don't know yeat if this is Kibana 6.6.2 or SG 18.3 issue.

But here are what we found after deeper debug:

1. When you setup "default" index in Management Index Patterns,  Kibana GUI is sending below request to the Kibana server:
[code]

And after when Kibana send above request to Save informatio

[2019-05-11 18:13] jochenkressin commented on #108
Fixed with the new config structure in SG7.

[2019-05-11 18:13] #108 closed

[2019-05-11 20:17] mgustafsson1 commented on #174
@jochenkressin I believe this was already released and we can close this?

[2019-05-12 21:32] khavert commented on #195
Hi, it looks like trouble with cookies. From time to time when I pick up tenant X and go to management-> index patterns  I see all indices from Global.

For now as a workaround we added extra index_pattern for each of tenants:

`PUT <tenant_indice>/doc/index-pattern:bugpattern
{"index-pattern" : {
              "notExpandable" : true,
              "timeFieldName" : "@timestamp",
              "ti

[2019-05-13 07:57] jochenkressin commented on #195
@khavert which version of SG and the KI plugin are you using? It seems this issue only surfaces for specific ES/KI versions.

[2019-05-13 08:00] pdanysz commented on #195
Me @khavert are from the same company :)
We are using Kibana 6.6.2 + SG 18.3 version :)

[2019-05-13 08:37] Foxeronie commented on #195
We tried some szenarios, but mostly it seems to be random. An example:

Both in Inkognito:
A: Login
B: Login
A: Select TenantA
B: Select TenantA
A: Show Index Pattern (default is set)
B: Show Index Pattern (default is set)
A: Page refresh via F5 (still set)
B: Page refresh via F5 (still set)
A: Discover (still set)
B: Discover (still set)
A: Page refresh via F5 (default is NOT set anymore)
B: Page

[2019-05-13 10:46] jochenkressin commented on #195
ok, did not know that ;) Also, adding @mgustafsson1 to this thread

[2019-05-13 16:19] jochenkressin commented on #195
@Foxeronie @pdanysz @khavert this is really strange. We were not able to reproduce this in the last days, testing on different lab environments here. We also tried to forcefully delete cookies, emptying the session storage etc. Still no luck. So we are basically looking for any differences in your setup and ours.

@pdanysz You write that in your case "Kibana in 99% should redirect again to Index P

[2019-05-13 17:12] pdanysz commented on #195
@jochenkressin
Yes this is very consistent, but sometimes it looks like @Foxeronie shows :D

Tomorrow when I will be at the office and I will put some config for u.

Anyway,
- we have kibana run on Openshift (docker/kubernetes)
- normalny we are running with one instance of kibana so it shouldn't be a problem with multiple instances accessing the same index + caching
- AFAK we don't have RO tenant

[2019-05-13 17:37] jochenkressin commented on #195
Another question: Elastic has introduced the Spaces with 6.5. Is anyone of you using that alongside the SG multi-tenancy feature? If you are not actively using it, can you try to disable it and see if it makes a difference?

`xpack.spaces.enabled: false`

[2019-05-13 18:13] Foxeronie commented on #195
- We have two Kibana server runnig and in front of them is a F5 Loadbalancer. One of the servers is only a fall-back and not used by clients until the first one goes down. (We will test, if this still happens when we access the server directly, tomorrow)

- our defined roles:
[code]
- The different tenant roles we have created always look like this.
[code]

- The global tenant ist active.
- We are

[2019-05-17 11:36] Foxeronie commented on #195
After the upgrade to 6.6.2 all .kibana* indices were split/extend to the same name with '_1' or '_2' at the end. The former name was then an alias to this new indices.
What I tried now:
- stop Kibana
- remove all installed plugins
- remove all kibana index templates
- start Kibana
- stop Kibana
- install the searchguard plugin
- start Kibana
- switch to TenantA
- export all objects
- switch to ano

[2019-05-17 19:38] jochenkressin commented on #195
Thanks very much for the info, this indeed helps to pinpoint the problem.

The tenant names with the "_1" and "_2" suffix stem from the "Kibana saved object migration" that has been introduced with 6.5:

https://www.elastic.co/guide/en/kibana/6.5/upgrade-migrations.html

When Kibana starts, it will scan for .kibana indices that have been created with an older version of Kibana, and then migrate th

[2019-05-17 21:09] khavert commented on #195
Hi,
If we restart kibana some of indices are migrated one again to _1 then _2 and _3, ofcourse alias is passing to the latest one. The indices migrated or not looks like the same and I have no idea why it's being migrated.

On our DEV environment we put "config:6.6.2" document to all of versions, but it didn't help.

[2019-05-20 08:57] Foxeronie commented on #195
You are right. I restarted Kibana with this result:

[code]

[2019-05-21 10:09] marwojt commented on #195
@Foxeronie I see that You use sentinl with searchguard (search-guard-kibana-plugin-6.6.1-18.3.zip) . Do you have all icons in sentinl tab ?
I had  issue with disappearing default index in tenants with 18.1 plugin but after upgrade to version 18.3 it seems to be ok.

[2019-05-21 10:33] Foxeronie commented on #195
My Sentinl interface looks like the screenshot shown in this issue: https://github.com/sirensolutions/sentinl/issues/729

I tried running Kibana only with SG 6.6.1-18.3 installed, but the index pattern problem is still there.

[2019-05-22 11:24] jochenkressin commented on #195
To get a clearer picture of where the differences are between our setup (where we can't reproduce the issue even when simulating a massive amount of parallel users) and yours, could you @Foxeronie @marwojt @pdanysz @khavert answer the following questions? I know you already answered some of them, so sorry to bother again:

- Apart from Search Guard, do you have any other Kibana plugins installed
-

[2019-05-22 11:58] Foxeronie commented on #195
SentinL
I also tested running Kibana without SentinL, but the problem is still there

A F5 BIG IP Loadbalancer

https://kibana.domain.de:443

http://<node_name>.domain.de:8443

2-4

2

Yes, both running Kibana 6.6.1 and search-guard-kibana-plugin-6.6.1-18.3

19

enabled

enabled

[2019-05-31 11:06] jochenkressin commented on #162
Aligned the version for SG and KI plugins with SG7

[2019-05-31 11:06] #162 closed

[2019-06-02 07:00] marwojt commented on #195
Hello. It happened again with:

Package: elasticsearch
Version: 6.6.1
elasticsearch::plugin "com.floragunn:search-guard-6:6.6.1-24.1"

Package: kibana
Version: 6.6.1
kibana plugin: search-guard-kibana-plugin-6.6.1-18.3.zip

Apart from Search Guard, do you have any other Kibana plugins installed

I had SentinL but now it happened without plugin installed.

Do you have any load balancer or proxy or

[2019-06-25 18:23] Bader972016 commented on #37
Hey, any updates on this feature for SearchGuard 6.6.0?

[2019-07-09 19:07] floragunncom commented on #180
We have not released one for 5.6.12, please upgrade to 5.6.13 or later

[2019-07-09 19:07] #180 closed

[2019-07-10 11:39] jochenkressin commented on #174
Yes, this has been released

[2019-07-10 11:39] #174 closed

[2019-08-06 15:16] kristian-kocher opened #272 "Selecting "Show Dashboards" from list of Tenants does not show list"
Affected version: com.floragunn:search-guard-7:7.2.0-36.0.0

To reproduce:
 - have multiple tenants
 - have at least one tenant with dashboards
 - select "Show Dashboards" for a tenant that has dashboards from the list of available tenants

Observed behaviour:
 A new blank dashboard is opened.

Expected behaviour:
 Show list of Dashboards for this tenant.

[2019-08-14 07:33] floragunncom commented on #272
At the moment we cannot reproduce the problem with the steps you provided. When you say "a new blank dashboard is opened" do you  mean a blank page, an empty list of dashboards or really a new empty dashboard?

Could you please post the configuration files you are using, so we can try to reproduce the issue with them?

[2019-08-16 07:40] apmalla opened #273 "Search guard : Kibana saved object get deleted by Read only user"
First, let me thank you  entire SEARCH GUARD  team  for that amazing contribution towards opensource community ,  Nice work!

Configuration:
      elastic search: 6.5.4
          search guard: 6-6.5.4-25.1
      kibana: 6.5.4
          search guard: 6.5.4-18.4

# User
amulya:
  hash: $1234567890
  roles:
  - amulya

# Custom roles
sg_amulya:
  readonly: true
  cluster:
    - CLUSTER_COMPOSITE_OPS_

[2019-08-16 21:31] floragunncom commented on #273
@jochenkressin @mgustafsson1 can you have a look?

[2019-08-22 04:58] riteshsoni10 opened #274 "Kibana Dashboard ReadOnly Mode along with Uptime Dashboard"
Is there any way to configure kibana dashboard readonly mode along with uptime dashboard.

OS: Centos 7.6
ElasticSearch : 7.0.0
ElasticSearch Plugin Version: 7.0.0.35
Kibana: 7.0.0
Kibana SearchGuard Plugin Version: 7.0.0.35

[2019-08-22 05:06] riteshsoni10 commented on #273
Facing the same issue.

[2019-08-22 08:06] riteshsoni10 commented on #274
@floragunncom

[2019-08-30 11:44] xetter9 opened #278 "Kerberos authentication - Elasticsearch & Kibana"
I have installed SearchGuard into Elasticsearch and Kibana then set to use Kerberos. When I start kibana, it says **Authentication Exception**

Here are the configuration I did:

Elasticsearch.yml
cluster.name: aaa
node.name: aa
network.host: 192.168.1.x
http.port: 9201
transport.tcp.port: 9301
cluster.initial_master_nodes: aa
I am using the demo certificates so the searchguard.ssl.transport.pemce

[2019-09-04 07:27] apmalla commented on #273
Multitenancy feature is the solution by storing data into different indexes .

Questions :
- As it is an enterprise feature , is there is any other option for achieving same goal ?
- lets suppose an enterprise have per user access having strength 1000+ , what the solution ?

@floragunncom  team could you respond ?

[2019-09-04 11:10] jochenkressin commented on #273
Yes, there is an alternative to MT if you just need users with RW and other users with RO access.

In  SG7 this is relatively easy since we have made the GLOBAL tenant (the default tenant, also used of MT is not enabled) a first-class citizen.

For SG6 this requires a bit of manual configuration. Have a look the role definition for the sg_kibana_user role:

[code]

This is the default one, and apa

[2019-09-04 11:21] jochenkressin commented on #273
@riteshsoni10 In the SG7 role definitions you will find a new section called "tenant_permission". This section, amongst other things, controls access to Kibana.

Let's assume you have a role for a user that has READ access to your data:

[code]

To limit Kibana permissions to READ as well, assign the SGS_KIBANA_ALL_READ action group to the SGS_GLOBAL_TENANT. As outlined above, this is the default

[2019-09-04 11:27] jochenkressin commented on #278
Kerberos is sometimes hard  to debug, but at first glance, it seems the `elasticsearch.requestHeadersWhitelist` is not correct.

"Negotiate" is actually part of the response, not the request. The header for the request is "Authorization". Since this is also the default setting of `elasticsearch.requestHeadersWhitelist`,  you  can simply try to remove:

`elasticsearch.requestHeadersWhitelist: ["Neg

[2019-09-04 11:41] jochenkressin commented on #274
Sorry for the late reply. At the moment, no, this is not possible. However, we're working on improving this and plan to have something ready this month which will give you better control over the Kibana apps.

[2019-09-04 11:41] #274 closed

[2019-09-04 11:41] jochenkressin commented on #272
@kristian-kocher friendly ping

[2019-09-05 05:44] apmalla commented on #273
Thanks you so much @jochenkressin , will do a short POC and keep u posted the results .

[2019-09-05 06:35] riteshsoni10 commented on #273
@jochenkressin I am still unable to create a use with only read permission on kibana GUI.
I receive everything success on running sgadmin.

[code]
After this , I had restarted kibana, but still the user test is having all permissions on kibana GUI.

[2019-09-22 09:44] JHC88 opened #303 "Cannot install plugin"
Please, help me with this error:

[code]
I use kibana in kubernetes and have some troubles to install this plugin. Thank for advance.
Sergey

[2019-09-23 09:28] #303 closed